<h2 class="fs-3 text_shadow">Фильмы о Бэтмене</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="249" image-icon="true" /> @*Бэтмен 1966*@
    <vc:page-card page-number="246" image-icon="true" /> @*Бэтмен 1989*@
    <vc:page-card page-number="250" image-icon="true" /> @*Бэтмен возвращается 1992*@
    <vc:page-card page-number="243" image-icon="true" /> @*Бэтмен навсегда 1995*@
    <vc:page-card page-number="247" image-icon="true" /> @*Бэтмен и Робин 1997*@
    <vc:page-card page-number="251" image-icon="true" /> @*Бэтмен - Начало 2005*@
    <vc:page-card page-number="252" image-icon="true" /> @*Темный рыцарь 2008*@
    <vc:page-card page-number="253" image-icon="true" /> @*Темный рыцарь - Возрождение 2012*@
    <vc:page-card page-number="255" image-icon="true" /> @*Бэтмен против Супермена 2016*@
    <vc:page-card page-number="254" image-icon="true" /> @*Бэтмен - Душа Дракона 2021*@
    <vc:page-card page-number="244" image-icon="true" /> @*Бэтмен 2022*@

</div>

<hr class="liniya" />