<h2 class="fs-3 text_shadow">Фильмы о Бэтмене</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="243" image-icon="true" />
    <vc:page-card page-number="244" image-icon="true" />

</div>

<hr class="liniya" />