<div class="card ms-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" asp-page="/Main2" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Сайт, посвященный Сергею Шевкуненко" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/main-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/main-page.png"
             alt="Сайт, посвященный Сергею Шевкуненко"
             title="Сайт, посвященный Сергею Шевкуненко" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">САЙТ</p>
        </div>
    </a>
</div>
