<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы с участием Сергея&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2">

    <vc:card image-name="50-50-300" />
    <vc:card image-name="kortik-300" />
    <vc:card image-name="br-ptica-300" />
    <vc:card image-name="pr-expediciya-300" />

</div>

<hr class="liniya" />