<hr class="liniya" />

<h2 class="fs-3 text_shadow">Джим Керри в фильмах:</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="164" image-icon="true" />
    <vc:page-card page-number="173" image-icon="true" />
    <vc:page-card page-number="174" image-icon="true" />
    <vc:page-card page-number="175" image-icon="true" />
    <vc:page-card page-number="176" image-icon="true" />
    <vc:page-card page-number="177" image-icon="true" />
    <vc:page-card page-number="179" image-icon="true" />
    <vc:page-card page-number="182" image-icon="true" />
    <vc:page-card page-number="183" image-icon="true" />
    <vc:page-card page-number="184" image-icon="true" />

</div>

<hr class="liniya" />