<h2 class="fs-3 text_shadow">Джим Керри в фильмах:</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="179" image-icon="true" /> @*Знакомтесь... Жанет*@
    <vc:page-card page-number="206" image-icon="true" /> @*Утиная фабрика*@
    <vc:page-card page-number="189" image-icon="true" /> @*Однажды укушенный*@
    <vc:page-card page-number="192" image-icon="true" /> @*Пегги Сью вышла замуж*@
    <vc:page-card page-number="195" image-icon="true" /> @*Земные девушки доступны*@
    <vc:page-card page-number="197" image-icon="true" /> @*Игра в смерть*@
    <vc:page-card page-number="203" image-icon="true" /> @*Цепь убийств*@
    <vc:page-card page-number="205" image-icon="true" /> @*Розовый кадилак*@
    <vc:page-card page-number="190" image-icon="true" /> @*Гора Куппер*@
    <vc:page-card page-number="173" image-icon="true" /> @*Маска*@
    <vc:page-card page-number="182" image-icon="true" /> @*Тупой и еще тупее*@
    <vc:page-card page-number="237" image-icon="true" /> @*Лжец, лжец*@
    <vc:page-card page-number="175" image-icon="true" /> @*Шоу Трумана*@
    <vc:page-card page-number="164" image-icon="true" /> @*Я, снова я и Ирен*@
    <vc:page-card page-number="176" image-icon="true" /> @*Брюс всемогущий*@
    <vc:page-card page-number="174" image-icon="true" /> @*Всегда говори «Да»*@
    <vc:page-card page-number="183" image-icon="true" /> @*Тупой и еще тупее 2*@
    <vc:page-card page-number="177" image-icon="true" /> @*Настоящее преступление*@
    <vc:page-card page-number="184" image-icon="true" /> @*Соник в кино*@
    <vc:page-card page-number="187" image-icon="true" /> @*Соник в кино 2*@

</div>

<hr class="liniya" />