<!DOCTYPE html>

<html lang="ru-RU" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<vc:head page-number="@Model.PageNumber" />

<body>

    <div class="container-fluid container-fluid-1920">

        <div class="row justify-content-center rsy">

            <!-- Yandex.RTB R-A-1648952-1 -->
            <div id="yandex_rtb_R-A-1648952-1" class="col-11 col-lg-5"></div>
            <script>
                window.yaContextCb.push(() => {
                    Ya.Context.AdvManager.render({
                        renderTo: 'yandex_rtb_R-A-1648952-1',
                        blockId: 'R-A-1648952-1'
                    })
                })</script>

            <!-- Yandex.RTB R-A-1648952-2 -->
            <div id="yandex_rtb_R-A-1648952-2" class="col-lg-5 d-none d-lg-inline-block"></div>
            <script>
                window.yaContextCb.push(() => {
                    Ya.Context.AdvManager.render({
                        renderTo: 'yandex_rtb_R-A-1648952-2',
                        blockId: 'R-A-1648952-2'
                    })
                })</script>

        </div>

        <hr class="liniya" />

        @await Html.PartialAsync("_NavPartial")

        <div class="row text-center bg-light">

            <vc:background-left page-number="@Model.PageNumber" />

            <main role="main" itemprop="mainContentOfPage" class="col-12 col-sm-9 pb-3 text-center shadw">

                <div class="container-fluid px-0">

                    @RenderBody()

                </div>

            </main>

            <vc:background-right page-number="@Model.PageNumber" />

        </div>

        <div class="row p-2">

            <div class="col-12">

                @await Html.PartialAsync("_FooterPartial")

                @await Html.PartialAsync("_ScriptsPartial")

            </div>

        </div>

        <hr class="liniya" />

        <div class="row justify-content-center rsy">

            <!-- Yandex.RTB R-A-1648952-3 -->
            <div id="yandex_rtb_R-A-1648952-3" class="col-11 col-lg-5"></div>
            <script>
                window.yaContextCb.push(() => {
                    Ya.Context.AdvManager.render({
                        renderTo: 'yandex_rtb_R-A-1648952-3',
                        blockId: 'R-A-1648952-3'
                    })
                })</script>

            <!-- Yandex.RTB R-A-1648952-4 -->
            <div id="yandex_rtb_R-A-1648952-4" class="col-lg-5 d-none d-lg-inline-block"></div>
            <script>
                window.yaContextCb.push(() => {
                    Ya.Context.AdvManager.render({
                        renderTo: 'yandex_rtb_R-A-1648952-4',
                        blockId: 'R-A-1648952-4'
                    })
                })</script>

        </div>

        <hr class="liniya" />

    </div>

    @await RenderSectionAsync("JScripts", required: false)

</body>

</html>