<!DOCTYPE html>

<html lang="ru-RU" itemscope itemtype="http://schema.org/WebPage" prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# book: http://ogp.me/ns/book# video: http://ogp.me/ns/video# ya: http://webmaster.yandex.ru/vocabularies/">

<vc:head page-number="@Model.PageNumber"></vc:head>

<body>

    <div class="container-fluid container-fluid-1920">

        @await Html.PartialAsync("_TeaserTopPartial")

        <hr class="liniya" />

        @await Html.PartialAsync("_NavPartial")

        <div class="row text-center bg-light">

            <vc:background-left page-number="@Model.PageNumber"></vc:background-left>

            <main role="main" itemprop="mainContentOfPage" class="col-12 col-sm-9 pb-3 text-center shadw">

                <div class="container-fluid px-0">

                    @RenderBody()

                </div>

            </main>

            <vc:background-right page-number="@Model.PageNumber"></vc:background-right>

        </div>

        <hr class="liniya" />

        @await Html.PartialAsync("_FooterPartial")

        @await Html.PartialAsync("_ScriptsPartial")

        @await Html.PartialAsync("_TeaserBottomPartial")

    </div>

    @await RenderSectionAsync("JScripts", required: false)

</body>

</html>