<h2 class="fs-3 text_shadow">Цикл интервью «Легенды дубляжа»</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="167" image-icon="true" /> @*Ярослава Турылёва Часть 1*@
    <vc:page-card page-number="282" image-icon="true" /> @*Евгений Жариков*@
    <vc:page-card page-number="163" image-icon="true" /> @*Александр Баргман*@
    <vc:page-card page-number="170" image-icon="true" /> @*Галина Чигинская*@
    <vc:page-card page-number="171" image-icon="true" /> @*Александр Рахленко*@
    <vc:page-card page-number="178" image-icon="true" /> @*Леонид Белозорович*@
    <vc:page-card page-number="180" image-icon="true" /> @*Алексей Иващенко*@
    <vc:page-card page-number="181" image-icon="true" /> @*Сергей Юрский*@
    <vc:page-card page-number="185" image-icon="true" /> @*Рудольф Панков*@
    <vc:page-card page-number="186" image-icon="true" /> @*Алексей Борзунов*@
    <vc:page-card page-number="188" image-icon="true" /> @*Анатолий Петров*@
    <vc:page-card page-number="191" image-icon="true" /> @*Мариуш Яворовски*@
    <vc:page-card page-number="193" image-icon="true" /> @*Ольга Плетнева*@
    <vc:page-card page-number="194" image-icon="true" /> @*Лариса Железнова*@
    <vc:page-card page-number="196" image-icon="true" /> @*Всеволод Кузнецов*@
    <vc:page-card page-number="204" image-icon="true" /> @*Светлана Кузнецова*@
    <vc:page-card page-number="207" image-icon="true" /> @*Валерий Кухарешин*@
    <vc:page-card page-number="208" image-icon="true" /> @*Максим Сергеев*@
    <vc:page-card page-number="209" image-icon="true" /> @*Владимир Маслаков*@
    <vc:page-card page-number="211" image-icon="true" /> @*Андрей Левин*@
    <vc:page-card page-number="212" image-icon="true" /> @*Артур Ваха*@
    <vc:page-card page-number="213" image-icon="true" /> @*Николай Буров*@
    <vc:page-card page-number="214" image-icon="true" /> @*Елена Шульман*@
    <vc:page-card page-number="215" image-icon="true" /> @*Геннадий Богачев*@
    <vc:page-card page-number="216" image-icon="true" /> @*Юрий Лазарев*@
    <vc:page-card page-number="217" image-icon="true" /> @*Валерий Чечунов*@
    <vc:page-card page-number="218" image-icon="true" /> @*Ольга Воейкова*@
    <vc:page-card page-number="219" image-icon="true" /> @*Светлана Шейченко*@
    <vc:page-card page-number="222" image-icon="true" /> @*Анжелика Неволина*@
    <vc:page-card page-number="223" image-icon="true" /> @*Сергей Паршин*@
    <vc:page-card page-number="224" image-icon="true" /> @*Вадим Яковлев*@
    <vc:page-card page-number="225" image-icon="true" /> @*Мария Цветкова*@
    <vc:page-card page-number="226" image-icon="true" /> @*Алла Гончарова*@
    <vc:page-card page-number="227" image-icon="true" /> @*Наталья Федотова*@
    <vc:page-card page-number="228" image-icon="true" /> @*Александра Кожевникова*@
    <vc:page-card page-number="229" image-icon="true" /> @*Елена Ставрогина*@
    <vc:page-card page-number="230" image-icon="true" /> @*Татьяна Иванова*@
    <vc:page-card page-number="231" image-icon="true" /> @*Владимир Зайцев*@
    <vc:page-card page-number="232" image-icon="true" /> @*Дмитрий Полонский*@
    <vc:page-card page-number="234" image-icon="true" /> @*Дмитрий Матвеев*@
    <vc:page-card page-number="235" image-icon="true" /> @*Ирина Волкова*@
    <vc:page-card page-number="236" image-icon="true" /> @*Михаил Короткевич*@
    <vc:page-card page-number="238" image-icon="true" /> @*Владимир Татосов*@
    <vc:page-card page-number="242" image-icon="true" /> @*Евгений Паперный*@
    <vc:page-card page-number="245" image-icon="true" /> @*Татьяна Антонова*@
    <vc:page-card page-number="248" image-icon="true" /> @*Галина Чаплина*@
    <vc:page-card page-number="257" image-icon="true" /> @*Елена Блинникова*@
    <vc:page-card page-number="258" image-icon="true" /> @*Янина Костричкина*@
    <vc:page-card page-number="259" image-icon="true" /> @*Виктор Рождественский*@
    <vc:page-card page-number="260" image-icon="true" /> @*Петр Иващенко*@
    <vc:page-card page-number="261" image-icon="true" /> @*Владимир Ерёмин*@
    <vc:page-card page-number="262" image-icon="true" /> @*Олег Куликович*@
    <vc:page-card page-number="263" image-icon="true" /> @*Алексей Сафонов*@
    <vc:page-card page-number="264" image-icon="true" /> @*Виталий Дорошенко*@
    <vc:page-card page-number="265" image-icon="true" /> @*Владислав Пупков*@
    <vc:page-card page-number="266" image-icon="true" /> @*Юрий Швырёв*@
    <vc:page-card page-number="267" image-icon="true" /> @*Ольга Кобзева*@
    <vc:page-card page-number="268" image-icon="true" /> @*Наталья Казначеева*@
    <vc:page-card page-number="269" image-icon="true" /> @*Ирина Карташева*@
    <vc:page-card page-number="270" image-icon="true" /> @*Игорь Ефимов*@
    <vc:page-card page-number="271" image-icon="true" /> @*Сергей Малишевский*@
    <vc:page-card page-number="272" image-icon="true" /> @*Елена Арабова*@
    <vc:page-card page-number="273" image-icon="true" /> @*Вадим Андреев*@
    <vc:page-card page-number="274" image-icon="true" /> @*Вадим Терентьев*@
    <vc:page-card page-number="275" image-icon="true" /> @*Олег Дашкевич*@
    <vc:page-card page-number="278" image-icon="true" /> @*Станислав Коцевич*@
    <vc:page-card page-number="280" image-icon="true" /> @*Михаил Вулих*@
    <vc:page-card page-number="281" image-icon="true" /> @*Тимофей Спивак*@
    <vc:page-card page-number="283" image-icon="true" /> @*Валентина Гришокина*@
    <vc:page-card page-number="284" image-icon="true" /> @*Валерий Соловей*@
    <vc:page-card page-number="285" image-icon="true" /> @*Владимир Антоник*@
    <vc:page-card page-number="286" image-icon="true" /> @*Анастасия Гиренкова Часть 1*@
    <vc:page-card page-number="288" image-icon="true" /> @*Виктор Костецкий Часть 1*@
    <vc:page-card page-number="293" image-icon="true" /> @*Евгений Дятлов*@
    <vc:page-card page-number="297" image-icon="true" /> @*Сергей Дьячков*@

</div>

<hr class="liniya" />