<hr class="liniya" />

<h2 class="fs-3 text_shadow">Цикл интервью «Легенды дубляжа»</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="163" image-icon="true" />
    <vc:page-card page-number="167" image-icon="true" />
    <vc:page-card page-number="168" image-icon="true" />
    <vc:page-card page-number="169" image-icon="true" />
    <vc:page-card page-number="170" image-icon="true" />
    <vc:page-card page-number="171" image-icon="true" />
    <vc:page-card page-number="178" image-icon="true" />
    <vc:page-card page-number="180" image-icon="true" />
    <vc:page-card page-number="181" image-icon="true" />
    <vc:page-card page-number="185" image-icon="true" />
    <vc:page-card page-number="186" image-icon="true" />
    <vc:page-card page-number="188" image-icon="true" />
    <vc:page-card page-number="191" image-icon="true" />
    <vc:page-card page-number="193" image-icon="true" />
    <vc:page-card page-number="194" image-icon="true" />
    <vc:page-card page-number="196" image-icon="true" />
    <vc:page-card page-number="204" image-icon="true" />
    <vc:page-card page-number="207" image-icon="true" />
    <vc:page-card page-number="208" image-icon="true" />
    <vc:page-card page-number="209" image-icon="true" />
    <vc:page-card page-number="211" image-icon="true" />
    <vc:page-card page-number="212" image-icon="true" />
    <vc:page-card page-number="213" image-icon="true" />
    <vc:page-card page-number="214" image-icon="true" />
    <vc:page-card page-number="215" image-icon="true" />
    <vc:page-card page-number="216" image-icon="true" />
    <vc:page-card page-number="217" image-icon="true" />
    <vc:page-card page-number="218" image-icon="true" />
    <vc:page-card page-number="219" image-icon="true" />
    <vc:page-card page-number="222" image-icon="true" />
    <vc:page-card page-number="223" image-icon="true" />
    <vc:page-card page-number="224" image-icon="true" />
    <vc:page-card page-number="225" image-icon="true" />
    <vc:page-card page-number="226" image-icon="true" />
    <vc:page-card page-number="227" image-icon="true" />
    <vc:page-card page-number="228" image-icon="true" />
    <vc:page-card page-number="229" image-icon="true" />
    <vc:page-card page-number="230" image-icon="true" />
    <vc:page-card page-number="231" image-icon="true" />
    <vc:page-card page-number="232" image-icon="true" />
    <vc:page-card page-number="234" image-icon="true" />
    <vc:page-card page-number="235" image-icon="true" />
    <vc:page-card page-number="236" image-icon="true" />
    <vc:page-card page-number="238" image-icon="true" />
    <vc:page-card page-number="242" image-icon="true" />
    <vc:page-card page-number="245" image-icon="true" />
    <vc:page-card page-number="248" image-icon="true" /> @*Галина Чаплина*@

</div>

<hr class="liniya" />