<hr class="liniya" />

<h2 class="fs-3 text_shadow">Цикл интервью «Легенды дубляжа»</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="163" image-icon="true" />
    <vc:page-card page-number="167" image-icon="true" />
    <vc:page-card page-number="168" image-icon="true" />
    <vc:page-card page-number="169" image-icon="true" />
    <vc:page-card page-number="170" image-icon="true" />
    <vc:page-card page-number="171" image-icon="true" />
    <vc:page-card page-number="178" image-icon="true" />
    <vc:page-card page-number="180" image-icon="true" />
    <vc:page-card page-number="181" image-icon="true" />
    <vc:page-card page-number="185" image-icon="true" />
    <vc:page-card page-number="186" image-icon="true" />

</div>

<hr class="liniya" />