<hr class="liniya" />

<h2 class="fs-2 text_shadow">Программа «Лихие 90-е»</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:page-card page-number="71" image-icon="true" />
    <vc:page-card page-number="72" image-icon="true" />
    <vc:page-card page-number="73" image-icon="true" />
    <vc:page-card page-number="74" image-icon="true" />
    <vc:page-card page-number="75" image-icon="true" />
    <vc:page-card page-number="76" image-icon="true" />
    <vc:page-card page-number="77" image-icon="true" />
    <vc:page-card page-number="78" image-icon="true" />
    <vc:page-card page-number="79" image-icon="true" />
    <vc:page-card page-number="80" image-icon="true" />
    <vc:page-card page-number="84" image-icon="true" />
    <vc:page-card page-number="85" image-icon="true" />
    <vc:page-card page-number="70" image-icon="true" />
    <vc:page-card page-number="86" image-icon="true" />
    <vc:page-card page-number="87" image-icon="true" />
    <vc:page-card page-number="88" image-icon="true" />

</div>

<hr class="liniya" />

<p class="mt-4">
    <button class="btn btn-outline-danger mb-2 shadw" type="button" data-bs-toggle="collapse" data-bs-target="#VideoOShevkunenkoPartial" aria-expanded="false" aria-controls="VideoOShevkunenkoPartial">
        <span class="fs-5">О СЕРГЕЕ ШЕВКУНЕНКО</span>
    </button>
</p>
<div class="collapse" id="VideoOShevkunenkoPartial">
    <div class="card card-body">
        <partial name="_VideoOShevkunenkoPartial" />
    </div>
</div>