<hr class="liniya" />

<h2 class="fs-2 text_shadow">Программа «Лихие 90-е»</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:card image-name="lihie-90-bratki-300" />
    <vc:card image-name="lihie-90-krovavyi-show-biznes-300" />
    <vc:card image-name="lihie-90-rabyni-90h-300" />
    <vc:card image-name="lihie-90-nasledniki-chikatilo-300" />
    <vc:card image-name="lihie-90-blesk-i-nisheta-300" />
    <vc:card image-name="lihie-90-smert-kino-300" />

</div>

<hr class="liniya" />

<p class="mt-4">
    <button class="btn btn-outline-danger shadw" type="button" data-bs-toggle="collapse" data-bs-target="#VideoOShevkunenkoPartial" aria-expanded="false" aria-controls="VideoOShevkunenkoPartial">
        <span class="fs-5">О СЕРГЕЕ ШЕВКУНЕНКО</span>
    </button>
</p>
<div class="collapse" id="VideoOShevkunenkoPartial">
    <div class="card card-body">
        <partial name="_VideoOShevkunenkoPartial" />
    </div>
</div>