<nav class="navbar sticky-top navbar-expand-md navbar-light bg-light mt-1 mb-3 py-0 rounded-3 shadw">

    <div class="container-fluid">

        <a class="navbar-brand text-danger border-end border-danger pe-2" asp-page="/Donate" title="Помочь сайту">
            <span class="donate shadw px-3 border border-2 rounded-1">Donate</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#siteNav" aria-controls="siteNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="siteNav">

            <ul class="navbar-nav me-3 py-0" itemprop="breadcrumb" itemscope itemtype="http://schema.org/BreadcrumbList">

                <li class="nav-item border-end border-danger" title="Соцсети">
                    <script src="https://yastatic.net/share2/share.js" async></script>
                    <div class="ya-share2 pt-1 me-2 mt-1" data-curtain data-size="m" data-limit="0" data-more-button-type="long" data-services="vkontakte,facebook,odnoklassniki,telegram,twitter,whatsapp,moimir,skype"></div>
                </li>

                <li class="nav-item border-end border-danger dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="nav-link fs-5 text-danger ms-0 dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" itemprop="item">
                        <span class="donate shadw px-3 border border-2 rounded-1" itemprop="name">Сайт</span>
                        <meta itemprop="position" content="1">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" asp-page="/Main2" itemprop="item">
                                <span itemprop="name">Главная страница</span>
                                <meta itemprop="position" content="1">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="http://xbase.ru/?vladimirz" itemprop="item">
                                <span itemprop="name">Гостевая</span>
                                <meta itemprop="position" content="2">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item" href="https://shevkunenko.ru/admin/index.htm" itemprop="item">
                                <span itemprop="name" content="страничка админа"><img class="shadw" src="/images/index1.gif" width="88" height="31" alt="страничка админа" title="страничка админа" /></span>
                                <meta itemprop="position" content="3">
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item border-end border-danger dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="nav-link fs-5 text-danger dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" itemprop="item">
                        <span class="donate shadw px-3 border border-2 rounded-1" itemprop="name">Биография</span>
                        <meta itemprop="position" content="2">
                    </a>
                    <ul class="dropdown-menu p-1 shadw" aria-labelledby="navbarDropdown" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/biografy.htm" itemprop="item">
                                <span itemprop="name">Биография</span>
                                <meta itemprop="position" content="1">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/pressa/index.htm" itemprop="item">
                                <span itemprop="name">Пресса</span>
                                <meta itemprop="position" content="2">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/csfilm/album1.htm" itemprop="item">
                                <span itemprop="name">Фото</span>
                                <meta itemprop="position" content="3">
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-item border-end border-danger dropdown" itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                    <a class="nav-link fs-5 text-danger dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" itemprop="item">
                        <span class="donate shadw px-3 border border-2 rounded-1" itemprop="name">Фильмы</span>
                        <meta itemprop="position" content="3">
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown" itemscope itemtype="http://schema.org/BreadcrumbList">
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1 disabled" href="#" itemprop="item">
                                <span itemprop="name">Сестра музыканта</span>
                                <meta itemprop="position" content="1">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/online/50_online.htm" itemprop="item">
                                <span itemprop="name">50 на 50</span>
                                <meta itemprop="position" content="2">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/krfilm/index.htm" itemprop="item">
                                <span itemprop="name">Кортик</span>
                                <meta itemprop="position" content="3">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/bpfilm/index.htm" itemprop="item">
                                <span itemprop="name">Бронзовая птица</span>
                                <meta itemprop="position" content="4">
                            </a>
                        </li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/pefilm.htm" itemprop="item">
                                <span itemprop="name">Пропавшая экспедиция</span>
                                <meta itemprop="position" content="5">
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/csfilm/cs_online.htm" itemprop="item">
                                <span itemprop="name">Криминальная звезда</span>
                                <meta itemprop="position" content="6">
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem">
                            <a class="dropdown-item shadw mb-1" href="https://shevkunenko.ru/csfilm/people.htm" itemprop="item">
                                <span itemprop="name">Знакомые о Сергее</span>
                                <meta itemprop="position" content="7">
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>

            <div class="gcse-search"></div>

        </div>

    </div>

</nav>