<hr class="liniya" />

<h2 class="fs-2 text_shadow">Программа «Первая кровь»</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:card file-name="pervaya-krov-zakaznye-ubiystva-1-300" />
    <vc:card file-name="pervaya-krov-zakaznye-ubiystva-2-300" />
    <vc:card file-name="pervaya-krov-seriynyi-manyak-300" />
    <vc:card file-name="pervaya-krov-mihail-krug-300" />
    <vc:card file-name="pervaya-krov-miss-rossiya-300" />
    <vc:card file-name="pervaya-krov-talgat-nigmatulin-300" />
    <vc:card file-name="pervaya-krov-sergey-bodrov-300" />
    <vc:card file-name="pervaya-krov-sergey-shevkunenko-300" />
    <vc:card file-name="pervaya-krov-ludi-na-zapchasti-300" />
    <vc:card file-name="pervaya-krov-smert-v-svoi-vorota-300" />
    <vc:card file-name="pervaya-krov-kapkan-dlya-chelnoka-300" />
    <vc:card file-name="pervaya-krov-ne-jilcy-300" />
    <vc:card file-name="pervaya-krov-molchanie-yagnyat-300" />
    <vc:card file-name="pervaya-krov-jivye-dengi-300" />
    <vc:card file-name="pervaya-krov-slugi-dyavola-300" />
    <vc:card file-name="pervaya-krov-krovavyi-rektor-300" />
    <vc:card file-name="pervaya-krov-krestnyi-otec-300" />

</div>

<hr class="liniya" />

<p class="mt-4">
    <button class="btn btn-outline-danger mb-2 shadw" type="button" data-bs-toggle="collapse" data-bs-target="#VideoOShevkunenkoPartial" aria-expanded="false" aria-controls="VideoOShevkunenkoPartial">
        <span class="fs-5">О СЕРГЕЕ ШЕВКУНЕНКО</span>
    </button>
</p>
<div class="collapse" id="VideoOShevkunenkoPartial">
    <div class="card card-body">
        <partial name="_VideoOShevkunenkoPartial" />
    </div>
</div>