<div class="tochka">

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Поиск от Google -->
    <script async src="https://cse.google.com/cse.js?cx=001303555673627836383:wgsb6t9xezu"></script>

    <!-- Соцсети от Yandex-->
    <script src="https://yastatic.net/share2/share.js" async></script>

    <!-- push block -->
    <script>
        let tnSubscribeOptions = {
            serviceWorkerRelativePath: '/tnServiceWorker.js',
            block: '911916'
        };
    </script>
    <script async src="https://motbw.com/webpush/pushSubscribe.js"></script>

    <!-- ClickUnder -->
    <script src="https://gprhe.com/hqglno/quv5j41iu4j5i79/5j4lon7a99xf4j51298wb/b7j/tq2n7d.js?p=234661&amp;b=911449"></script>

</div>