<div class="tochka">

    <script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Поиск от Google -->
    <script async src="https://cse.google.com/cse.js?cx=c1d37615c36604a42"></script>

    <!-- Соцсети от Yandex-->
    <script src="https://yastatic.net/share2/share.js" async></script>

</div>