<div class="row">
            <div id="teasernet" class="col-12 my-2 mt-3 mx-auto pt-1 rounded-3 shadw">
                <script async src="https://rkkvq.com/anye8k921/2199i7/1927jb/79i2qtlivek8i97xf9quvykp1uim0d4beeef9092c947f99fcdb6e226d26df4"></script>
            </div>
        </div>