<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы и программы о Сергее&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="27" image-icon="true" />
    <vc:page-card page-number="29" image-icon="true" />
    <vc:page-card page-number="30" image-icon="true" />
    <vc:page-card page-number="31" image-icon="true" />
    <vc:page-card page-number="69" image-icon="true" />
    <vc:page-card page-number="89" image-icon="true" />
    <vc:page-card page-number="32" image-icon="true" />
    <vc:page-card page-number="34" image-icon="true" />
    <vc:page-card page-number="36" image-icon="true" />
    <vc:page-card page-number="38" image-icon="true" />
    <vc:page-card page-number="40" image-icon="true" />
    <vc:page-card page-number="42" image-icon="true" />
    <vc:page-card page-number="44" image-icon="true" />
    <vc:page-card page-number="47" image-icon="true" />
    <vc:page-card page-number="101" image-icon="true" />
    <vc:page-card page-number="48" image-icon="true" />
    <vc:page-card page-number="105" image-icon="true" />
    <vc:page-card page-number="50" image-icon="true" />
    <vc:page-card page-number="107" image-icon="true" />
    <vc:page-card page-number="145" image-icon="true" />

</div>

<hr class="liniya" />