<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы и программы о Сергее&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:card file-name="kriminalnaya-zvezda-300" />
    <vc:card file-name="artist-pologenec-300" />
    <vc:card file-name="programma-maximum-300" />
    <vc:card file-name="vpogone-za-kortikom-300" />
    <vc:card file-name="pervaya-krov-300" />
    <vc:card file-name="lihie-90" />
    <vc:card file-name="znakomye-o-sergee" />
    <vc:card file-name="bitva-extrasensov-300" />
    <vc:card file-name="russkie-sensacii-300" />
    <vc:card file-name="pryamoy-efir-300" />
    <vc:card file-name="eshe-nevecher-300" />
    <vc:card file-name="govorim-i-pokazyvaem-300" />
    <vc:card file-name="kakie-ludi-300" />
    <vc:card file-name="segodnya-vecherom2013-300" />
    <vc:card file-name="korotkiy-vek-300" />
    <vc:card file-name="segodnya-vecherom2014-300" />
    <vc:card file-name="turyleva-chast1-300" />
    <vc:card file-name="proshu-vinit-300" />

</div>

<hr class="liniya" />