<hr class="liniya" />

<div class="row justify-content-center rsy">

    <!-- Yandex.RTB R-A-1648952-3 -->
    <div id="yandex_rtb_R-A-1648952-3" class="col-11 col-lg-5"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1648952-3',
                blockId: 'R-A-1648952-3'
            })
        })</script>

    <!-- Yandex.RTB R-A-1648952-4 -->
    <div id="yandex_rtb_R-A-1648952-4" class="col-lg-5 d-none d-lg-inline-block"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1648952-4',
                blockId: 'R-A-1648952-4'
            })
        })</script>

</div>