<h2 class="fs-3 text_shadow">Знакомые&nbsp;о Сергее&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2">

    <vc:page-card page-number="110" image-icon="true" />
    <vc:page-card page-number="112" image-icon="true" />
    <vc:page-card page-number="113" image-icon="true" />
    <vc:page-card page-number="114" image-icon="true" />
    <vc:page-card page-number="115" image-icon="true" />
    <vc:page-card page-number="116" image-icon="true" />
    <vc:page-card page-number="117" image-icon="true" />

</div>