<h2 class="fs-3 text_shadow">Знакомые&nbsp;о Сергее&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="110" image-icon="true" />
    <vc:page-card page-number="112" image-icon="true" />
    <vc:page-card page-number="113" image-icon="true" />
    <vc:page-card page-number="114" image-icon="true" />
    <vc:page-card page-number="115" image-icon="true" />
    <vc:page-card page-number="116" image-icon="true" />
    <vc:page-card page-number="117" image-icon="true" />
    <vc:page-card page-number="118" image-icon="true" />
    <vc:page-card page-number="119" image-icon="true" />
    <vc:page-card page-number="120" image-icon="true" />
    <vc:page-card page-number="121" image-icon="true" />
    <vc:page-card page-number="122" image-icon="true" />
    <vc:page-card page-number="123" image-icon="true" />
    <vc:page-card page-number="124" image-icon="true" />
    <vc:page-card page-number="125" image-icon="true" />
    <vc:page-card page-number="126" image-icon="true" />
    <vc:page-card page-number="127" image-icon="true" />
    <vc:page-card page-number="128" image-icon="true" />
    <vc:page-card page-number="129" image-icon="true" />
    <vc:page-card page-number="130" image-icon="true" />
    <vc:page-card page-number="131" image-icon="true" />
    <vc:page-card page-number="132" image-icon="true" />
    <vc:page-card page-number="133" image-icon="true" />
    <vc:page-card page-number="134" image-icon="true" />
    <vc:page-card page-number="135" image-icon="true" />
    <vc:page-card page-number="136" image-icon="true" />
    <vc:page-card page-number="137" image-icon="true" />
    <vc:page-card page-number="138" image-icon="true" />
    <vc:page-card page-number="139" image-icon="true" />
    <vc:page-card page-number="140" image-icon="true" />
    <vc:page-card page-number="141" image-icon="true" />
    <vc:page-card page-number="142" image-icon="true" />
    <vc:page-card page-number="143" image-icon="true" />
    <vc:page-card page-number="144" image-icon="true" />

</div>