
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Controller. Index View</title>
</head>
<body>
    <p>Home Controller. Index View.</p>
    <a href="@Model">Link</a>
</body>
</html>
