@page "{VideoProvider?}"
@model Site.Pages.Lihie_90_e.Krovavyi_show_biznesModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:page-card page-number="53" image-icon="true" />
    <vc:page-card page-number="77" image-icon="true" />

</div>

<partial name="_Lihie90Patial" />
