@page "{VideoProvider?}"
@model Site.Pages.Lihie_90_e.Rabyni_90hModel

<vc:movie-online movie-caption="@Model.MovieCaption" video-provider="@Model.VideoProvider" />

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:card file-name="pervaya-krov-jivye-dengi-300" />

</div>

<partial name="_Lihie90Patial" />