@page "{VideoProvider?}"
@model Site.Pages.Video_o_Shevkunenko.Kriminalnaya_zvezdaModel

<vc:movie-online movie-caption="@Model.MovieCaption" video-provider="@Model.VideoProvider" />

<h2 class="fs-3 text_shadow">Фильмы с участием Сергея&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2">

    <vc:card image-name="50-50-300" />
    <vc:card image-name="kortik-300" />
    <vc:card image-name="br-ptica-300" />
    <vc:card image-name="pr-expediciya-300" />

</div>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center g-2">

    <vc:card image-name="biografy-page" />
    <vc:card image-name="foto-page" />
    <vc:card image-name="pressa-page" />

</div>

<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы и программы о Сергее&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:card image-name="kriminalnaya-zvezda-300" />
    <vc:card image-name="artist-pologenec-300" />
    <vc:card image-name="programma-maximum-300" />
    <vc:card image-name="vpogone-za-kortikom-300" />
    <vc:card image-name="pervaya-krov" />
    <vc:card image-name="lihie-90" />
    <vc:card image-name="znakomye-o-sergee" />
    <vc:card image-name="bitva-extrasensov-300" />
    <vc:card image-name="russkie-sensacii-300" />
    <vc:card image-name="pryamoy-efir-300" />
    <vc:card image-name="eshe-nevecher-300" />
    <vc:card image-name="govorim-i-pokazyvaem-300" />
    <vc:card image-name="kakie-ludi-300" />
    <vc:card image-name="segodnya-vecherom2013-300" />
    <vc:card image-name="korotkiy-vek-300" />
    <vc:card image-name="segodnya-vecherom2014-300" />
    <vc:card image-name="turyleva-chast1-300" />
    <vc:card image-name="proshu-vinit-300" />

</div>