@page "{VideoProvider?}"
@model Site.Pages.Video_o_Shevkunenko.Pust_govoryat_16_05_2019_ShevkunenkoModel

<a asp-page="/Video-o-Shevkunenko/Pust-govoryat-16-05-2019" class="btn btn-outline-primary">«Пусть говорят» от 16.05.2019</a>

<hr class="liniya" />

<vc:movie-online movie-caption="@Model.MovieCaption" video-provider="@Model.VideoProvider" />

<partial name="_FilmyShevkunenkoPartial" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center g-2">

    <vc:page-card page-number="5" image-icon="false" />
    <vc:page-card page-number="96" image-icon="false" />
    <vc:page-card page-number="95" image-icon="false" />

</div>

<partial name="_VideoOShevkunenkoPartial" />