@page "{VideoProvider?}"
@model Site.Pages.Video_o_Shevkunenko.Segodnya_vecherom_30_11_2013Model

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<partial name="_FilmyShevkunenkoPartial" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center g-2">

    <vc:page-card page-number="5" image-icon="false" />
    <vc:page-card page-number="96" image-icon="false" />
    <vc:page-card page-number="95" image-icon="false" />

</div>

<partial name="_VideoOShevkunenkoPartial" />