@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Alexey_BorzunovModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<hr class="liniya" />

<h2 class="text_shadow">Алексей&nbsp;Борзунов - дубляж&nbsp;фильмов</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="182" image-icon="true" />

</div>

<partial name="_LegendyDublyajaPartial" />