@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Alexandra_KogevnikovaModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<h2 class="text_shadow">Работы в дубляже</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="290" image-icon="true" />

</div>

<hr class="liniya" />

<partial name="_LegendyDublyajaPartial" />