@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Alexandr_BargmanModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<h2 class="text_shadow">Работы в дубляже</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="164" image-icon="true" />
    <vc:page-card page-number="165" image-icon="true" />
    <vc:page-card page-number="166" image-icon="true" />

</div>

<hr class="liniya" />

<partial name="_LegendyDublyajaPartial" />