@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Galina_ChiginskayaModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="279" image-icon="true" />

</div>

<hr class="liniya" />

<h2 class="text_shadow">Галина&nbsp;Чигинская - дубляж&nbsp;фильмов</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="165" image-icon="true" />

</div>

<hr class="liniya" />

<partial name="_LegendyDublyajaPartial" />