@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Nataliya_FedotovaModel

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<h2 class="text_shadow">Наталья&nbsp;Федотова - дубляж&nbsp;фильмов</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="233" image-icon="true" />

</div>


<partial name="_LegendyDublyajaPartial" />