@page "{VideoProvider?}"
@model Site.Pages.Filmy.Legendy_Dublyaja.Viktor_Kosteckiy_2Model

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="288" image-icon="true" />

</div>

<hr class="liniya" />

<partial name="_LegendyDublyajaPartial" />