<h2 class="fs-3 text_shadow">Клинт Иствуд в&nbsp;фильмах о&nbsp;«Грязном&nbsp;Гарри»:</h2>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-md-4 row-cols-lg-5 justify-content-center g-2">

    <vc:page-card page-number="200" image-icon="true" />
    <vc:page-card page-number="201" image-icon="true" />
    <vc:page-card page-number="198" image-icon="true" />
    <vc:page-card page-number="202" image-icon="true" />
    <vc:page-card page-number="197" image-icon="true" />

</div>

<hr class="liniya" />