<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы с участием Сергея&nbsp;Шевкуненко</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2">

    <vc:page-card page-number="106" image-icon="true" />
    <vc:page-card page-number="98" image-icon="true" />
    <vc:page-card page-number="99" image-icon="true" />
    <vc:page-card page-number="100" image-icon="true" />

</div>

<hr class="liniya" />