<hr class="liniya" />

<h2 class="fs-2 text_shadow">Программа «Первая кровь»</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:page-card page-number="52" image-icon="true" />
    <vc:page-card page-number="53" image-icon="true" />
    <vc:page-card page-number="54" image-icon="true" />
    <vc:page-card page-number="55" image-icon="true" />
    <vc:page-card page-number="56" image-icon="true" />
    <vc:page-card page-number="57" image-icon="true" />
    <vc:page-card page-number="58" image-icon="true" />
    <vc:page-card page-number="59" image-icon="true" />
    <vc:page-card page-number="60" image-icon="true" />
    <vc:page-card page-number="61" image-icon="true" />
    <vc:page-card page-number="62" image-icon="true" />
    <vc:page-card page-number="63" image-icon="true" />
    <vc:page-card page-number="64" image-icon="true" />
    <vc:page-card page-number="65" image-icon="true" />
    <vc:page-card page-number="66" image-icon="true" />
    <vc:page-card page-number="67" image-icon="true" />
    <vc:page-card page-number="68" image-icon="true" />

</div>

<hr class="liniya" />

<p class="mt-4">
    <button class="btn btn-outline-danger mb-2 shadw" type="button" data-bs-toggle="collapse" data-bs-target="#VideoOShevkunenkoPartial" aria-expanded="false" aria-controls="VideoOShevkunenkoPartial">
        <span class="fs-5">О СЕРГЕЕ ШЕВКУНЕНКО</span>
    </button>
</p>
<div class="collapse" id="VideoOShevkunenkoPartial">
    <div class="card card-body">
        <partial name="_VideoOShevkunenkoPartial" />
    </div>
</div>