<div class="row justify-content-center rsy">

    <!-- Yandex.RTB R-A-1648952-1 -->
    <div id="yandex_rtb_R-A-1648952-1" class="col-11 col-lg-5"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1648952-1',
                blockId: 'R-A-1648952-1'
            })
        })</script>

    <!-- Yandex.RTB R-A-1648952-2 -->
    <div id="yandex_rtb_R-A-1648952-2" class="col-lg-5 d-none d-lg-inline-block"></div>
    <script>
        window.yaContextCb.push(() => {
            Ya.Context.AdvManager.render({
                renderTo: 'yandex_rtb_R-A-1648952-2',
                blockId: 'R-A-1648952-2'
            })
        })</script>

</div>

<hr class="liniya" />