
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Controller. Details View</title>
</head>
<body>
    <p>Home Controller. Details View</p>
    Id = @Model
</body>
</html>
