
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Home Controller. Test View</title>
</head>
<body>
    <p>Home Controller. Test View</p>
</body>
</html>
