
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <ul>
        <li><a asp-action="index" asp-controller="sample1">ViewData</a></li>
        <li><a asp-action="index" asp-controller="sample2">ViewBag</a></li>
        <li><a asp-action="index" asp-controller="sample3">Через модель</a></li>
        <li><a asp-action="index" asp-controller="sample4">Через модель в строго типизированное представление</a></li>
    </ul>
</body>
</html>
