@page
@model Site.Pages.Filmy.Rybakov.KortikModel

<div class="row">

    <div class="col">

        <vc:image file-name="kortik-header.png" css-class="adp_img" image-icon="false" />

        <hr class="liniya" />

    </div>

</div>


<vc:page-links-block block-header="" page-links="new uint[] {305, 306, 307}" image-icon="true" link-size="true" />