@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>
        .my-btn {
            border: 1px solid black;
            border-radius: 3px;
        }

        .my-btn-red {
            background-color: lightcoral;
        }

        .my-btn-blue {
            background-color: lightblue;
        }

        .my-btn-green {
            background-color: lightgreen;
        }
    </style>
</head>
<body>
    <button my-button-color="red">Button 1</button>
    <button my-button-color="green">Button 2</button>
    <button my-button-color="blue">Button 3</button>
    <button my-button-color="orange">Button 4</button>
    <button>Button 5</button>
</body>
</html>
