@page "{VideoProvider?}"
@model Site.Pages.Znakomye_o_Shevkunenko.Elena_Sheri2Model

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<div class="row row-cols-2 row-cols-md-3 justify-content-center g-2">

    <vc:page-card page-number="5" image-icon="false" />
    <vc:page-card page-number="96" image-icon="false" />
    <vc:page-card page-number="95" image-icon="false" />

</div>

<partial name="_FilmyShevkunenkoPartial" />

<partial name="_ZnakomyeShevkunenkoPartial" />

<partial name="_VideoOShevkunenkoPartial" />