@page
@model StatusCodePages.MissingModel

@{
    ViewData["Title"] = "Missing";

    Layout = null;
}

<h1 class="text-danger">404 Error</h1>
<h2 class="text-danger">Мы не можем найти страницу по вашему запросу.</h2>

<h3>Пожалуйста, проверьте адрес и попробуйте снова.</h3>
