@page "/biografy/"
@model BiografyModel

<div class="row" itemprop="mainContentOfPage">

    <div class="col-12">

        <h2 class="text_shadow" itemscope itemtype="http://schema.org/Person">
            <span itemprop="name">
                <span itemprop="familyName">Шевкуненко</span>
                <span itemprop="givenName">Сергей</span>
                <span itemprop="additionalName">Юрьевич</span>
            </span>
        </h2>

        <h1 class="text_shadow">БИОГРАФИЯ</h1>

    </div>

    <hr class="liniya" />

    <article class="col-12 text_p_justify" itemprop="text">

        <vc:image image-name="biografy" css-class="img-thumbnail rounded float-start me-2 maxwidth320px" />

        <p><b>Сергей Юрьевич Шевкуненко</b> родился 20 ноября 1959&nbsp;г. в Москве.</p>
        <p>Отец - <b>Шевкуненко Юрий Александрович</b> - директор 2-го творческого объединения киностудии &laquo;Мосфильм&raquo;.</p>
        <p>Мать - <b>Шевкуненко Полина Васильевна</b> - ассистент режиссера киностудии &laquo;Мосфильм&raquo;.</p>
        <p>Сестра - <b>Шевкуненко Ольга Юрьевна</b> - старше Сергея на 14 лет.</p>
        <p>В 1963&nbsp;г. Шевкуненко&nbsp;Ю.А. скончался после тяжелой болезни.</p>
        <p>В 1972&nbsp;г. Ольга эмигрировала в Израиль, а затем в США.</p>
        <p>Сергей остается один с матерью. Начиная с 1973&nbsp;г. снимается в кино.</p>
        <p>В 1973&nbsp;г. Сергей играет роль идейного пионера Миши Полякова в 3-х серийном фильме <a href="https://shevkunenko.ru/rybakov/films/kortik1_online.htm" itemprop="relatedLink"> <span class="atext">&laquo;Кортик&raquo;</span></a> по одноименному произведению А.Н.&nbsp;Рыбакова (киностудия &laquo;Беларусьфильм&raquo;). Затем в 1974&nbsp;г. - съемка в 3-х серийном продолжении <a href="https://shevkunenko.ru/rybakov/films/bp1_online.htm" itemprop="relatedLink"> <span class="atext">&laquo;Бронзовая птица&raquo;</span></a> (киностудия &laquo;Беларусьфильм&raquo;).</p>
        <p>В 1974&nbsp;г. Сергей закончил 8 классов 74 средней школы. Продолжать учебу он не захотел.</p>
        <p>В 1975&nbsp;г. Сергей сыграл одну из главных ролей в приключенческой картине <a href="https://shevkunenko.ru/pefilm/pe1_online.htm" itemprop="relatedLink"> <span class="atext">&laquo;Пропавшая экспедиция&raquo;</span></a> (киностудия им. А.М.&nbsp;Горького). В этом же году после очередной драки Сергея отправляют в спецПТУ.</p>
        <p>В марте 1976&nbsp;г. Сергей ввязывается в драку. Его действия квалифицируют <span class="fmdcrs bld">по статье 206&nbsp;ч. II УК РСФСР</span> как &laquo;хулиганство с особой дерзостью и жестокостью&raquo; и приговаривают к одному году лишения свободы. В лагере Сергей получает среднее образование. После выхода на свободу устраивается на &laquo;Мосфильм&raquo; осветителем.</p>
        <p>В 1978&nbsp;г. получает второй срок - 4&nbsp;года заключения за кражу продуктов из мосфильмовского буфета <span class="fmdcrs bld">(статья 89 УК РСФСР)</span>. Выходит на свободу осенью 1981&nbsp;г. 8 декабря 1981&nbsp;г. Сергея повторно по протекции матери принимают на &laquo;Мосфильм&raquo; осветителем 2-го разряда с 2-х месячным испытательным сроком.</p>
        <p>В 1982&nbsp;г. - арест за квартирную кражу и хранение наркотиков. По совокупности 2-х статей <span class="fmdcrs bld">(статья 210 УК РСФСР &laquo;за квартирную кражу&raquo; и статья 144 &laquo;за привлечение несовершеннолетних в преступную деятельность&raquo;)</span> получает 4,5 года лишения свободы. Во время заключения за отказ работать на администрацию лагеря и попытку к бегству Сергею продлевают срок еще на 1,5 года.</p>
        <p>В тюрьме Сергей заболевает туберкулезом в открытой форме. В 1988&nbsp;г. освобождается инвалидом II группы. Из-за отказа прописки в Москве едет в Смоленск к родственникам, где в течение года лечится от туберкулеза.</p>
        <p>В 1989&nbsp;г. Сергей женится на Елене Н. В этом же году получает новый срок один год за хранение оружия <span class="fmdcrs bld">(статья 218 УК РСФСР).</span> Почти сразу после освобождения его арестовывают за хранение краденых икон и дают срок 3 года.</p>
        <p>В 1994&nbsp;г. Сергей выходит на свободу. Организует бизнес, сколачивает бригаду, которая контролирует ряд точек в районе Мосфильмовской улицы.</p>
        <p>11 февраля 1995&nbsp;г. Сергей вместе со своей 76-летней матерью убит в квартире на ул. Пудовкина при невыясненных обстоятельствах. Убийство до настоящего времени не раскрыто.</p>

    </article>

</div>

<hr class="liniya" />

<div class="row row-cols-3 row-cols-lg-4 row-cols-xl-5 g-2 justify-content-center">

    <vc:card image-name="kortik" />
    <vc:card image-name="br-ptica" />
    <vc:card image-name="pr-expediciya" />

    <hr class="liniya" />

    <vc:card image-name="znakomye" />
    <vc:card image-name="pressa-page" />
    <vc:card image-name="foto-page" />

</div>