@page "/donate/{pageNumber=3}/{**data}"
@model Site.Pages.DonateModel

<div class="row">

    <div class="col-12">

        <h1 class="text_shadow">ПОДДЕРЖАТЬ<br />САЙТ&nbsp;ПАМЯТИ<br />СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image image-name="main-index" css-class="adp_img ten" />

        <hr class="liniya" />

    </div>

</div>

<div class="row">

    <div class="col-12">

        <iframe class="wbform ten" src="https://funding.webmoney.ru/widgets/vertical/b9d6b456-a53b-4f7d-b393-7b1307bd6076?bt=0&hs=1&sum=50" scrolling="no"></iframe>
    
    </div>

</div>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="main" />

    <vc:card card-name="biografy" />

    <vc:card card-name="characters" />

    <vc:card card-name="pressa" />

    <vc:card card-name="photo" />

    <vc:card card-name="guestbook" />

</div>