@page "/error404/{PageNumber=4}/{**data}"
@model Error404Model

<div class="row">
    <div class="col-12">

        <h1 class="text_shadow">САЙТ ПАМЯТИ СЕРГЕЯ&nbsp;ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image image-name="main-index" css-class="adp_img ten" />

        <hr class="liniya" />

    </div>
</div>

<div class="row">

    <div class="col text-center">

        <h1>ERROR 404</h1>
        <h2 class="text-danger">Мы не можем найти страницу по вашему запросу.</h2>
        <h3>Пожалуйста, проверьте адрес и попробуйте снова.</h3>

        <hr class="liniya" />

    </div>

</div>