@page
@model Site.Pages.Filmy_i_KnigiModel

<hr class="liniya" />

<h2 class="fs-3 text_shadow">Фильмы и Книги</h2>

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-4 g-2 justify-content-center">

    <vc:page-card page-number="160" image-icon="true" />
    <vc:page-card page-number="161" image-icon="true" />

</div>