@page
@model Site.Pages.Foto_AlbomModel

<div class="row">

    <div class="col">

        <h1 class="text_shadow">ФОТО&nbsp;ИЗ&nbsp;ФИЛЬМОВ<br />О&nbsp;СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

    </div>

</div>

<div class="row">

    @foreach (var item in Model.Images)
    {
        <div class="row">

            <img src="@item.ImageContentUrl.LocalPath" class="d-block mx-auto maxwidth720px" alt="@item.ImageAlt" title="@item.ImageAlt">

        </div>
    }

</div>

