@page "{pageNumber=1}/{**data}"
@model IndexModel


<div class="row">

    <div class="col">

        <h1 class="text_shadow">САЙТ&nbsp;ПАМЯТИ<br />СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image image-name="main-index" css-class="adp_img ten" />

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="main" />

    <vc:card card-name="biografy" />

    <vc:card card-name="characters" />

    <vc:card card-name="pressa" />

    <vc:card card-name="photo" />

    <vc:card card-name="guestbook" />

</div>

<partial name="_SoundPartial" />