@page
@model IndexModel
@{
    ViewData["Description"] = "Эта история по-своему уникальна и практически не имеет аналогов в истории российского кинематографа. Подававший большие надежды актер волею судьбы угодил в тюрьму и довольно быстро добился славы и признания совсем в другой среде - уголовной. Последней ступенькой, на которую сумел забраться в преступной иерархии этот бывший актер, была должность «положенца», которая предшествует самому высокому титулу в уголовной среде - вора в законе. Имя этого человека - Сергей Шевкуненко.";
    ViewData["KeyWords"] = "сергей шевкуненко, сергей шевкуненко фото, сергей шевкуненко криминальная, шевкуненко сергей юрьевич, сергей шевкуненко биография, сергей шевкуненко криминальная биография, сергей шевкуненко убийство, сергей шевкуненко фото убийство, сергей шевкуненко жена, сергей шевкуненко википедия, фильм криминальная звезда сергей шевкуненко, сергей шевкуненко похороны, актер сергей шевкуненко, памяти сергей шевкуненко, сергей шевкуненко документальный фильм, сергей шевкуненко документальный фильм криминальная звезда, криминальная звезда документальный фильм памяти сергея шевкуненко, сергей шевкуненко видео, сестра сергея шевкуненко, шевкуненко сергей юрьевич похороны, сергей шевкуненко кортик, елена шевкуненко жена сергея шевкуненко, сергей шевкуненко могила, сергей шевкуненко смерть, сергей шевкуненко похороны видео, сергей шевкуненко личная жизнь, сергей шевкуненко фото смерть, шевкуненко сергей юрьевич вспоминают друзья, актер сергей шевкуненко биография, судьба сергея шевкуненко, сергей шевкуненко фото перед смертью, сергей шевкуненко криминал, шевкуненко сергей юрьевич криминал";
    ViewData["LastReviewed"] = "2021-11-27";
    ViewData["PageImage"] = "https://shevkunenko.site/images/index1.gif";
    ViewData["PageImageWidth"] = 1122;
    ViewData["PageImageHeight"] = 480;
    ViewData["Canonical"] = "https://shevkunenko.site/Index";
    ViewData["BackgroundLeft"] = "bg-kortik-1";
    ViewData["BackgroundRight"] = "bg-kortik-2";
}

<div class="row">
    <div class="col-12">

        <h1 class="text_shadow">САЙТ ПАМЯТИ СЕРГЕЯ&nbsp;ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <a href="/images/index1.gif" onClick="this.target='_blank'">

            <span itemscope itemtype="http://schema.org/ImageObject">

                <meta itemprop="caption" content="сайт памяти Сергея Шевкуненко" />
                <link itemprop="contentUrl" href="https://shevkunenko.site/images/index1.gif" />
                <link itemprop="thumbnailUrl" href="https://shevkunenko.site/images/index1.gif" />
                <link itemprop="image" href="https://shevkunenko.site/images/index1.gif" />
                <meta itemprop="width" content="1122" />
                <meta itemprop="height" content="480" />
                <img class="adp_img ten" asp-append-version="true"
                     src="/images/index1.gif"
                     alt="сайт памяти Сергея Шевкуненко"
                     title="сайт памяти Сергея Шевкуненко" />
            </span>

        </a>

        <hr class="liniya" />

    </div>
</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="main" />

    <vc:card card-name="biografy" />

    <vc:card card-name="characters" />

    <vc:card card-name="pressa" />

    <vc:card card-name="photo" />

    <vc:card card-name="guestbook" />

</div>

<partial name="_SoundPartial" />




