@page
@model Site.Pages.IndexModel
@{
    ViewData["Title"] = "Сайт, посвященный Сергею Шевкуненко";
    ViewData["PageId"] = 1;
    ViewData["Description"] = "Эта история по-своему уникальна и практически не имеет аналогов в истории российского кинематографа. Подававший большие надежды актер волею судьбы угодил в тюрьму и довольно быстро добился славы и признания совсем в другой среде - уголовной. Последней ступенькой, на которую сумел забраться в преступной иерархии этот бывший актер, была должность «положенца», которая предшествует самому высокому титулу в уголовной среде - вора в законе. Имя этого человека - Сергей Шевкуненко.";
    ViewData["KeyWords"] = "сергей шевкуненко, сергей шевкуненко фото, сергей шевкуненко криминальная, шевкуненко сергей юрьевич, сергей шевкуненко биография, сергей шевкуненко криминальная биография, сергей шевкуненко убийство, сергей шевкуненко фото убийство, сергей шевкуненко жена, сергей шевкуненко википедия, фильм криминальная звезда сергей шевкуненко, сергей шевкуненко похороны, актер сергей шевкуненко, памяти сергей шевкуненко, сергей шевкуненко документальный фильм, сергей шевкуненко документальный фильм криминальная звезда, криминальная звезда документальный фильм памяти сергея шевкуненко, сергей шевкуненко видео, сестра сергея шевкуненко, шевкуненко сергей юрьевич похороны, сергей шевкуненко кортик, елена шевкуненко жена сергея шевкуненко, сергей шевкуненко могила, сергей шевкуненко смерть, сергей шевкуненко похороны видео, сергей шевкуненко личная жизнь, сергей шевкуненко фото смерть, шевкуненко сергей юрьевич вспоминают друзья, актер сергей шевкуненко биография, судьба сергея шевкуненко, сергей шевкуненко фото перед смертью, сергей шевкуненко криминал, шевкуненко сергей юрьевич криминал";
    ViewData["LastReviewed"] = "2021-11-27";
    ViewData["PageImage"] = "https://shevkunenko.site/images/index1.gif";
    ViewData["PageImageWidth"] = 1122;
    ViewData["PageImageHeight"] = 480;
    ViewData["Canonical"] = "https://shevkunenko.site/Index";
    ViewData["BackgroundLeft"] = "bg-kortik-1";
    ViewData["BackgroundRight"] = "bg-kortik-2";

    CardModel cardModel = new();
}

<h1 class="text_shadow">САЙТ ПАМЯТИ СЕРГЕЯ ШЕВКУНЕНКО</h1>

<hr class="liniya" />

<a href="/images/index1.gif" onClick="this.target='_blank'" itemscope itemtype="http://schema.org/ImageObject">
    <meta itemprop="caption" content="сайт памяти Сергея Шевкуненко" />
    <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/index1.gif" />
    <meta itemprop="width" content="1122" />
    <meta itemprop="height" content="480" />
    <img class="adp_img ten"
         src="/images/index1.gif"
         alt="сайт памяти Сергея Шевкуненко"
         title="сайт памяти Сергея Шевкуненко" />
</a>

<hr class="liniya" />

@await Html.PartialAsync("_CardPartial")

<div class="card ms-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="@cardModel.CardLink " itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Биография Сергея Юрьевича Шевкуненко" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/biografy-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/biografy-page.png"
             alt="Биография Сергея Юрьевича Шевкуненко"
             title="Биография Сергея Юрьевича Шевкуненко" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2 h6 fw-normal">БИОГРАФИЯ</p>
        </div>
    </a>
</div>

<div class="card ms-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="https://shevkunenko.ru/online/index.htm" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Фильмы с участием Сергея Шевкуненко" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/films-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/films-page.png"
             alt="Фильмы с участием Сергея Шевкуненко"
             title="Фильмы с участием Сергея Шевкуненко" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">РОЛИ</p>
        </div>
    </a>
</div>

<div class="card m-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="https://shevkunenko.ru/pressa/index.htm" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Книги и статьи о Сергее Шевкуненко" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/pressa-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/pressa-page.png"
             alt="Книги и статьи о Сергее Шевкуненко"
             title="Книги и статьи о Сергее Шевкуненко" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">ПРЕССА</p>
        </div>
    </a>
</div>

<div class="card mx-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="https://shevkunenko.ru/csfilm/album1.htm" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Фотографии Сергея Шевкуненко" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/foto-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/foto-page.png"
             alt="Фотографии Сергея Шевкуненко"
             title="Фотографии Сергея Шевкуненко" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">ФОТО</p>
        </div>
    </a>
</div>

<div class="card mx-sm-0 mx-md-1 my-2 rounded-3 p-2 ten mxwidth30">
    <a class="rounded-3" href="http://xbase.ru/?vladimirz" itemscope itemtype="http://schema.org/ImageObject">
        <meta itemprop="caption" content="Гостевая книга сайта" />
        <link itemprop="contentUrl thumbnailUrl image" href="https://shevkunenko.site/images/cards/gostevaya-page.png" />
        <meta itemprop="width" content="720" />
        <meta itemprop="height" content="540" />
        <img class="card-img-top shadw mb-2 rounded-3"
             src="/images/cards/gostevaya-page.png"
             alt="Гостевая книга сайта"
             title="Гостевая книга сайта" />

        <div class="card-body d-none d-sm-block p-0 shadw">
            <p class="card-title pt-2">ГОСТЕВАЯ</p>
        </div>
    </a>
</div>

<partial name="_SoundPartial" />
