@page
@model Site.Pages.IndexModel

<div class="row">

    <div class="col">

        <h1 class="text_shadow">САЙТ&nbsp;ПАМЯТИ<br />СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image file-name="index1.gif" css-class="adp_img ten" image-icon="false" />

        <hr class="liniya" />

    </div>

</div>

<vc:page-links-block block-header="" page-links="new uint[] {2, 5}" image-icon="false" link-size="true" />

<partial name="_SoundPartial" />