@page
@model Site.Pages.IndexModel

<div class="row">

    <div class="col">

        <h1 class="text_shadow">САЙТ&nbsp;ПАМЯТИ<br />СЕРГЕЯ ШЕВКУНЕНКО</h1>

        <hr class="liniya" />

        <vc:image file-name="index1.gif" css-class="adp_img ten" image-icon="false" />

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card file-name="main-page.png" image-icon="false" />
    <vc:card file-name="biografy-page.png" image-icon="false" />
    <vc:card file-name="films-page" />
    <vc:card file-name="pressa-page" />
    <vc:card file-name="foto-page" />
    <vc:card file-name="gostevaya-page" />

</div>

<partial name="_SoundPartial" />