@page
@model Main2Model
@{
    ViewData["Title"] = "Сайт памяти Сергея Шевкуненко - главные страницы";
    ViewData["PageId"] = 2;
    ViewData["Description"] = "Навигация по основным разделам сайта, посвященного Сергею Шевкуненко. Биография. Статьи в прессе и упоминания в книгах. Ссылки в интернете. Информация по фильмам Кортик, Бронзовая птица, Пропавшая экспедиция, Криминальная звезда. Фильмы и телепрограммы о Сергее Шевкуненко. Гостевая книга сайта. Писатель Анатолий Наумович Рыбаков.";
    ViewData["KeyWords"] = "сергей шевкуненко, сергей шевкуненко фото, сергей шевкуненко криминальная, шевкуненко сергей юрьевич, сергей шевкуненко биография, сергей шевкуненко криминальная биография, сергей шевкуненко убийство, сергей шевкуненко фото убийство, сергей шевкуненко жена, сергей шевкуненко википедия, фильм криминальная звезда сергей шевкуненко, сергей шевкуненко похороны, актер сергей шевкуненко, памяти сергей шевкуненко, сергей шевкуненко документальный фильм, сергей шевкуненко документальный фильм криминальная звезда, криминальная звезда документальный фильм памяти сергея шевкуненко, сергей шевкуненко видео, сестра сергея шевкуненко, шевкуненко сергей юрьевич похороны, сергей шевкуненко кортик, елена шевкуненко жена сергея шевкуненко, сергей шевкуненко могила, сергей шевкуненко смерть, сергей шевкуненко похороны видео, сергей шевкуненко личная жизнь, сергей шевкуненко фото смерть, шевкуненко сергей юрьевич вспоминают друзья, актер сергей шевкуненко биография, судьба сергея шевкуненко, сергей шевкуненко фото перед смертью, сергей шевкуненко криминал, шевкуненко сергей юрьевич криминал";
    ViewData["LastReviewed"] = "2021-11-28";
    ViewData["PageImage"] = "https://shevkunenko.site/images/glavpic1.png";
    ViewData["PageImageWidth"] = 700;
    ViewData["PageImageHeight"] = 408;
    ViewData["Canonical"] = "https://shevkunenko.site/Main2";
    ViewData["BackgroundLeft"] = "bg-kortik-1";
    ViewData["BackgroundRight"] = "bg-kortik-2";
}

<div class="row">
    <div class="col-12">

        <h1 class="text_shadow">БИОГРАФИЯ, РОЛИ В КИНО, ПРЕССА</h1>

        <hr class="liniya" />

        <a href="/images/glavpic1.png" onClick="this.target='_blank'">

            <span itemscope itemtype="http://schema.org/ImageObject">

                <meta itemprop="caption" content="сайт памяти Сергея Шевкуненко">
                <link itemprop="contentUrl" href="https://shevkunenko.site/images/glavpic1.png" />
                <link itemprop="thumbnailUrl" href="https://shevkunenko.site/images/glavpic1.png" />
                <link itemprop="image" href="https://shevkunenko.site/images/glavpic1.png" />
                <meta itemprop="width" content="700" />
                <meta itemprop="height" content="408" />
                <img class="adp_img ten" asp-append-version="true"
                     src="/images/glavpic1.png"
                     alt="сайт памяти Сергея Шевкуненко"
                     title="сайт памяти Сергея Шевкуненко" />

            </span>

        </a>

        <hr class="liniya" />

    </div>
</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">
    <vc:card card-name="kortik"></vc:card>
    <vc:card card-name="br-ptica"></vc:card>
    <vc:card card-name="pr-expediciya"></vc:card>
    <vc:card card-name="kr-zvezda"></vc:card>

    <hr class="liniya" />
</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">
    <vc:card card-name="biografy" />
    <vc:card card-name="photo" />
    <vc:card card-name="pressa" />
    <vc:card card-name="programs" />
    <vc:card card-name="znakomye" />
    <vc:card card-name="raznoe" />
    <vc:card card-name="characters" />
    <vc:card card-name="guestbook" />

    <hr class="liniya" />
</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">
    <vc:card card-name="kalinin" />
    <vc:card card-name="rybakov" />
</div>