@page
@model Main2Model
@{
    ViewData["BackgroundLeft"] = "bg-kortik-1";
    ViewData["BackgroundRight"] = "bg-kortik-2";
}

<div class="row">

    <div class="col">

        <h1 class="text_shadow">БИОГРАФИЯ, ПРЕССА, РОЛИ&nbsp;В&nbsp;КИНО </h1>

        <hr class="liniya" />

        <vc:image image-name="main-main2" css-class="adp_img ten" />

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="kortik" />
    <vc:card card-name="br-ptica"></vc:card>
    <vc:card card-name="pr-expediciya"></vc:card>
    <vc:card card-name="kr-zvezda"></vc:card>

    <hr class="liniya" />

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="biografy" />
    <vc:card card-name="photo" />
    <vc:card card-name="pressa" />
    <vc:card card-name="programs" />
    <vc:card card-name="znakomye" />
    <vc:card card-name="raznoe" />
    <vc:card card-name="characters" />
    <vc:card card-name="guestbook" />

    <hr class="liniya" />

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="kalinin" />
    <vc:card card-name="rybakov" />

</div>