@page "/navigation/"
@model Navigation

<div class="row">

    <div class="col">

        <h1 class="text_shadow">БИОГРАФИЯ, ПРЕССА, РОЛИ&nbsp;В&nbsp;КИНО </h1>

        <hr class="liniya" />

        <vc:image file-name="glavpic1.png" css-class="adp_img ten" image-icon="false" />

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card file-name="kortik" />
    <vc:card file-name="br-ptica" />
    <vc:card file-name="pr-expediciya" />
    <vc:card file-name="kr-zvezda" />

    <hr class="liniya" />

    <vc:card file-name="biografy-page.png" />
    <vc:card file-name="foto-page" />
    <vc:card file-name="pressa-page" />
    <vc:card file-name="programs" />
    <vc:card file-name="znakomye" />
    <vc:card file-name="raznoe" />
    <vc:card file-name="films-page" />
    <vc:card file-name="gostevaya-page" />

    <hr class="liniya" />

    <vc:card file-name="kalinin" />
    <vc:card file-name="rybakov" />

</div>