/* Фон по краям*/
.bg-image {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
}

.bg-kortik-left {
    background-image: url(/images/backgrounds/fon-kortik-left.png);
}

.bg-kortik-right {
    background-image: url(/images/backgrounds/fon-kortik-right.png);
}

.bg-biografy-left {
    background-image: url(/images/backgrounds/fon-biografy-left.png);
}

.bg-biografy-right {
    background-image: url(/images/backgrounds/fon-biografy-right.png);
}

.bg-kalinin-left {
    background-image: url(/images/backgrounds/fon-kalinin-left.png);
}

.bg-kalinin-right {
    background-image: url(/images/backgrounds/fon-kalinin-right.png);
}

.bg-pervaya-krov-left {
    background-image: url(/images/backgrounds/fon-pervaya-krov-left.png);
}

.bg-pervaya-krov-right {
    background-image: url(/images/backgrounds/fon-pervaya-krov-right.png);
}

.bg-lihie90-left {
    background-image: url(/images/backgrounds/fon-lihie90-left.png);
}

.bg-lihie90-right {
    background-image: url(/images/backgrounds/fon-lihie90-right.png);
}

.bg-legendy-left {
    background-image: url(/images/backgrounds/fon-legendy-left.png);
}

.bg-legendy-right {
    background-image: url(/images/backgrounds/fon-legendy-right.png);
}

.bg-ya-i-iren-left {
    background-image: url(/images/backgrounds/fon-ya-i-iren-left.png);
}

.bg-ya-i-iren-right {
    background-image: url(/images/backgrounds/fon-ya-i-iren-right.png);
}

.bg-tainoe-okno-left {
    background-image: url(/images/backgrounds/fon-tainoe-okno-left.png);
}

.bg-tainoe-okno-right {
    background-image: url(/images/backgrounds/fon-tainoe-okno-right.png);
}

.bg-skala-left {
    background-image: url(/images/backgrounds/fon-skala-left.png);
}

.bg-skala-right {
    background-image: url(/images/backgrounds/fon-skala-right.png);
}

.bg-maska-left {
    background-image: url(/images/backgrounds/fon-maska-left.png);
}

.bg-maska-right {
    background-image: url(/images/backgrounds/fon-maska-right.png);
}

.bg-vsegda-govori-da-left {
    background-image: url(/images/backgrounds/fon-vsegda-govori-da-left.png);
}

.bg-vsegda-govori-da-right {
    background-image: url(/images/backgrounds/fon-vsegda-govori-da-right.png);
}

.bg-show-trumana-left {
    background-image: url(/images/backgrounds/fon-show-trumana-left.png);
}

.bg-show-trumana-right {
    background-image: url(/images/backgrounds/fon-show-trumana-right.png);
}

.bg-brus-vsemogushiy-left {
    background-image: url(/images/backgrounds/fon-brus-vsemogushiy-left.png);
}

.bg-brus-vsemogushiy-right {
    background-image: url(/images/backgrounds/fon-brus-vsemogushiy-right.png);
}

.bg-tupoy-i-eshe-tupee-left {
    background-image: url(/images/backgrounds/fon-tupoy-i-eshe-tupee-left.png);
}

.bg-tupoy-i-eshe-tupee-right {
    background-image: url(/images/backgrounds/fon-tupoy-i-eshe-tupee-right.png);
}

.bg-tupoy-i-eshe-tupee-2-left {
    background-image: url(/images/backgrounds/fon-tupoy-i-eshe-tupee-2-left.png);
}

.bg-tupoy-i-eshe-tupee-2-right {
    background-image: url(/images/backgrounds/fon-tupoy-i-eshe-tupee-2-right.png);
}