.bg-kortik-left {
    background-image: url(/images/backgrounds/fon-kortik-left.png);
}

.bg-kortik-right {
    background-image: url(/images/backgrounds/fon-kortik-right.png);
}

.bg-biografy-left {
    background-image: url(/images/backgrounds/fon-biografy-left.png);
}

.bg-biografy-right {
    background-image: url(/images/backgrounds/fon-biografy-right.png);
}
