/* Фон по краям*/
.bg-image {
    background-size: 100% auto;
    background-repeat: repeat-y;
    background-position: center;
}

.bg-kortik-left {
    background-image: url(/images/backgrounds/fon-kortik-left.png);
}

.bg-kortik-right {
    background-image: url(/images/backgrounds/fon-kortik-right.png);
}

.bg-biografy-left {
    background-image: url(/images/backgrounds/fon-biografy-left.png);
}

.bg-biografy-right {
    background-image: url(/images/backgrounds/fon-biografy-right.png);
}

.bg-kalinin-left {
    background-image: url(/images/backgrounds/fon-kalinin-left.png);
}

.bg-kalinin-right {
    background-image: url(/images/backgrounds/fon-kalinin-right.png);
}

.bg-pervaya-krov-left {
    background-image: url(/images/backgrounds/fon-pervaya-krov-left.png);
}

.bg-pervaya-krov-right {
    background-image: url(/images/backgrounds/fon-pervaya-krov-right.png);
}