$shadow-background: hsla(350,54%,98%,1.00);
$shadow-bottom-right: hsla(0,0%,40%,1);
$shadow-top-left: hsla(0,70%,100%,1);

.shadw, .ya-share2__link {
    background: $shadow-background;
    box-shadow: 0 15px 10px -10px hsla(350,60%,0%,.5), 0 1px 4px hsla(350,60%,0%,.3), 0 0 40px hsla(350,60%,0%,.1) inset;
    border-right: 1px ridge $shadow-bottom-right;
    border-bottom: 1px ridge $shadow-bottom-right;
    border-top: 1px ridge $shadow-top-left;
    border-left: 1px ridge $shadow-top-left;
}

.shadw:after, .shadw:before, .ya-share2__link:after, .ya-share2__link:before {
    content: "";
    position: absolute;
    z-index: -2;
}
