.imgLink {
    border: 3px ridge;
    border-color: transparent;
    opacity: .8;
    transition: all .6s ease;
}

.imgLink:hover {
    border-color: hsla(0,90%,40%,1);
    opacity: 1;
}

.videoBorder {
    border-color: hsla(0,90%,40%,1);
}

/* ссылка в тексте книги */
.atext {
    width: auto !important;
    height: auto !important;
    font-weight: 600;
    text-indent: 0;
    border-radius: .4rem;
    padding: 0 .3rem .1rem;
    background-color: hsla(210,51%,60%,0.2);
    transition: all .7s ease
}

.atext:hover {
    color: hsla(0,50%,100%,1);
    background-color: hsla(0,61%,35%,.8)
}