@page "{VideoProvider?}"
@model Site.Pages.Pervaya_krov.Zakaznye_ubiystva_2Model

<vc:movie-online page-number="@Model.PageNumber" video-provider="@Model.VideoProvider" />

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:page-card page-number="72" image-icon="true" />
    <vc:page-card page-number="77" image-icon="true" />

</div>

<partial name="_PervayaKrovPatial" />