@page "{VideoProvider?}"
@model Site.Pages.Pervaya_krov.Zakaznye_ubiystva_2Model

<vc:movie-online movie-caption="@Model.MovieCaption" video-provider="@Model.VideoProvider" />

<hr class="liniya" />

<div class="row row-cols-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5 justify-content-center g-2">

    <vc:card image-name="lihie-90-krovavyi-show-biznes-300" />
    <vc:card image-name="lihie-90-show-biznes-po-russki-300" />

</div>

<partial name="_PervayaKrovPatial" />