@page
@model AddCardModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Добавить карточку в&nbsp;базу данных</h1>

        <hr class="liniya" />

        <form method="post" asp-page-handler="OnPost">

            <label for="ImageNameInput" asp-for="Card.ImageName" class="form-label text-primary fs-5"></label>
            <input id="ImageNameInput" asp-for="Card.ImageName" class="form-control" aria-describedby="ImageNameHelpBlock" />
            <div id="ImageNameInputHelpBlock" class="form-text">
                параметр «image-name» для ViewComponent
            </div>
            <span asp-validation-for="Card.ImageName" class="text-danger"></span>

            <hr class="liniya" />

            <label for="CardLinkInput" asp-for="Card.CardLink" class="form-label text-primary fs-5"></label>
            <input id="CardLinkInput" asp-for="Card.CardLink" class="form-control" aria-describedby="CardLinkHelpBlock" />
            <div id="CardLinkInputHelpBlock" class="form-text">
                адрес страницы
            </div>
            <span asp-validation-for="Card.CardLink" class="text-danger"></span>

            <hr class="liniya" />

            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Card.CardBody" type="radio" id="CardBodyTrue" value="True">
                <label class="form-check-label" for="CardBodyTrue">
                    текст под картинкой
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Card.CardBody" type="radio" id="CardBodyFalse" value="False">
                <label class="form-check-label" for="CardBodyFalse">
                    без текста под картинкой
                </label>
            </div>
            <span asp-validation-for="Card.CardBody" class="text-danger"></span>

            <hr class="liniya" />

            <label for="CardTextInput" asp-for="Card.CardText" class="form-label text-primary fs-5"></label>
            <input id="CardTextInput" asp-for="Card.CardText" class="form-control" aria-describedby="CardTextInputHelpBlock" />
            <div id="CardTextInputHelpBlock" class="form-text">
                текст под картинкой
            </div>
            <span asp-validation-for="Card.CardText" class="text-danger"></span>

            <hr class="liniya" />

            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Card.CardMovie" type="radio" id="CardMovieTrue" value="True">
                <label class="form-check-label" for="CardMovieTrue">
                    карточка для фильма
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Card.CardMovie" type="radio" id="CardMovieFalse" value="False">
                <label class="form-check-label" for="CardMovieFalse">
                    карточка не для фильма
                </label>
            </div>
            <span asp-validation-for="Card.CardMovie" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieCaptionInput" asp-for="Card.MovieCaption" class="form-label text-primary fs-5"></label>
            <input id="MovieCaptionInput" asp-for="Card.MovieCaption" class="form-control" aria-describedby="MovieCaptionInputHelpBlock" />
            <div id="MovieCaptionInputHelpBlock" class="form-text">
                название фильма
            </div>
            <span asp-validation-for="Card.MovieCaption" class="text-danger"></span>

            <hr class="liniya" />

            <div class="text-center">

                <button type="submit" class="col btn btn-outline-success shadw">ADD</button>
                <a asp-page="ViewCards" class="col btn btn-outline-danger ms-3 shadw">CANCEL</a>
            </div>

        </form>

    </div>

    <hr class="liniya" />

</div>