@page
@model AddMovieModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Добавить фильм в&nbsp;базу данных</h1>

        <hr class="liniya" />

        <form method="post" asp-page-handler="OnPost">

            <label for="ImageNameInput" asp-for="Movie.ImageName" class="form-label text-primary fs-5"></label>
            <input id="ImageNameInput" asp-for="Movie.ImageName" class="form-control" type="text" aria-describedby="ImageNameHelpBlock" />
            <div id="ImageNameInputHelpBlock" class="form-text">
                параметр «image-name» для ViewComponent
            </div>
            <span asp-validation-for="Movie.ImageName" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieCaptionInput" asp-for="Movie. MovieCaption" class="form-label text-primary fs-5"></label>
            <input id="MovieCaptionInput" asp-for="Movie. MovieCaption" class="form-control" type="text" aria-describedby=" MovieCaptionHelpBlock" />
            <div id="imageName2InputHelpBlock" class="form-text">
                название фильма
            </div>
            <span asp-validation-for="Movie. MovieCaption" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieDescriptionInput" asp-for="Movie.Description" class="form-label text-primary fs-5"></label>
            <input id="MovieDescriptionInput" asp-for="Movie.Description" class="form-control" aria-describedby="MovieDescriptionInputHelpBlock" />
            <div id="MovieDescriptionInputHelpBlock" class="form-text">
                краткое содержание
            </div>
            <span asp-validation-for="Movie.Description" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieDurationInput" asp-for="Movie.Duration" class="form-label text-primary fs-5"></label>
            <input id="MovieDurationInput" asp-for="Movie.Duration" class="form-control" aria-describedby="MovieDurationInputHelpBlock" />
            <div id="MovieDurationInputHelpBlock" class="form-text">
                продолжительность фильма
            </div>
            <span asp-validation-for="Movie.Duration" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieDatePublishedlInput" asp-for="Movie.DatePublished" class="form-label text-primary fs-5"></label>
            <input id="MovieDatePublishedInput" asp-for="Movie.DatePublished" class="form-control" aria-describedby="MovieDatePublishedInputHelpBlock" />
            <div id="MovieDatePublishedInputHelpBlock" class="form-text">
                дата премьеры
            </div>
            <span asp-validation-for="Movie.DatePublished" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieDateCreatedInput" asp-for="Movie.DateCreated" class="form-label text-primary fs-5"></label>
            <input id="MovieDateCreatedInput" asp-for="Movie.DateCreated" class="form-control" aria-describedby="MovieDateCreatedInputHelpBlock" />
            <div id="MovieDateCreatedInputHelpBlock" class="form-text">
                дата производства
            </div>
            <span asp-validation-for="Movie.DateCreated" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieUploadDateInput" asp-for="Movie.UploadDate" class="form-label text-primary fs-5"></label>
            <input id="MovieUploadDateInput" asp-for="Movie.UploadDate" class="form-control" aria-describedby="MovieUploadDateInputHelpBlock" />
            <div id="MovieUploadDateInputHelpBlock" class="form-text">
                дата публикации на сайте
            </div>
            <span asp-validation-for="Movie.IsFamilyFriendly" class="text-danger"></span>

            <hr class="liniya" />

            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Movie.IsFamilyFriendly" type="radio" id="IsFamilyFriendlyTrue" value="true">
                <label class="form-check-label" for="IsFamilyFriendlyTrue">
                    Нет ограничений для просмотра
                </label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" asp-for="Movie.IsFamilyFriendly" type="radio" id="IsFamilyFriendlyFalse" value="false">
                <label class="form-check-label" for="IsFamilyFriendlyFalse">
                    Есть ограничения для просмотра
                </label>
            </div>
            <span asp-validation-for="Movie.IsFamilyFriendly" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieInLanguageInput" asp-for="Movie.InLanguage" class="form-label text-primary fs-5"></label>
            <select id="MovieInLanguageInput" asp-for="Movie.InLanguage" class="form-select">
                <option value="ru" selected>ru</option>
                <option value="en">en</option>
            </select>
            <div id="MovieInLanguageInputHelpBlock" class="form-text">
                язык звуковой дорожки
            </div>
            <span asp-validation-for="Movie.InLanguage" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieРroductionCompanyInput" asp-for="Movie.РroductionCompany" class="form-label text-primary fs-5"></label>
            <input id="MovieРroductionCompanyInput" asp-for="Movie.РroductionCompany" class="form-control" aria-describedby="MovieРroductionCompanyInputHelpBlock" />
            <div id="MovieРroductionCompanyInputHelpBlock" class="form-text">
                название киностудии
            </div>
            <span asp-validation-for="Movie.РroductionCompany" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieDirectorInput" asp-for="Movie.Director" class="form-label text-primary fs-5"></label>
            <input id="MovieDirectorInput" asp-for="Movie.Director" class="form-control" aria-describedby="MovieDirectorInputHelpBlock" />
            <div id="MovieDirectorInputHelpBlock" class="form-text">
                режиссер
            </div>
            <span asp-validation-for="Movie.Director" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieMusicByInput" asp-for="Movie.MusicBy" class="form-label text-primary fs-5"></label>
            <input id="MovieMusicByInput" asp-for="Movie.MusicBy" class="form-control" aria-describedby="MovieMusicByInputHelpBlock" />
            <div id="MovieMusicByInputHelpBlock" class="form-text">
                композитор
            </div>
            <span asp-validation-for="Movie.MusicBy" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieGenreInput" asp-for="Movie.Genre" class="form-label text-primary fs-5"></label>
            <input id="MovieGenreInput" asp-for="Movie.Genre" class="form-control" aria-describedby="MovieGenreInputHelpBlock" />
            <div id="MovieGenreInputHelpBlock" class="form-text">
                жанр
            </div>
            <span asp-validation-for="Movie.Genre" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieContentUrlInput" asp-for="Movie.ContentUrl" class="form-label text-primary fs-5"></label>
            <input id="MovieContentUrlInput" asp-for="Movie.ContentUrl" class="form-control" aria-describedby="MovieContentUrlInputHelpBlock" />
            <div id="MovieContentUrlInputHelpBlock" class="form-text">
                адрес файла фильма в интернете
            </div>
            <span asp-validation-for="Movie.ContentUrl" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor01Input" asp-for="Movie.Actor01" class="form-label text-primary fs-5"></label>
            <input id="MovieActor01Input" asp-for="Movie.Actor01" class="form-control" aria-describedby="MovieActor01InputHelpBlock" />
            <div id="MovieActor01InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor01" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor02Input" asp-for="Movie.Actor02" class="form-label text-primary fs-5"></label>
            <input id="MovieActor02Input" asp-for="Movie.Actor02" class="form-control" aria-describedby="MovieActor02InputHelpBlock" />
            <div id="MovieActor02InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor02" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor03Input" asp-for="Movie.Actor03" class="form-label text-primary fs-5"></label>
            <input id="MovieActor03Input" asp-for="Movie.Actor03" class="form-control" aria-describedby="MovieActor03InputHelpBlock" />
            <div id="MovieActor03InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor03" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor04Input" asp-for="Movie.Actor04" class="form-label text-primary fs-5"></label>
            <input id="MovieActor04Input" asp-for="Movie.Actor04" class="form-control" aria-describedby="MovieActor04InputHelpBlock" />
            <div id="MovieActor04InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor04" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor05Input" asp-for="Movie.Actor05" class="form-label text-primary fs-5"></label>
            <input id="MovieActor05Input" asp-for="Movie.Actor05" class="form-control" aria-describedby="MovieActor05InputHelpBlock" />
            <div id="MovieActor05InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor05" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor06Input" asp-for="Movie.Actor06" class="form-label text-primary fs-5"></label>
            <input id="MovieActor06Input" asp-for="Movie.Actor06" class="form-control" aria-describedby="MovieActor06InputHelpBlock" />
            <div id="MovieActor06InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor06" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor07Input" asp-for="Movie.Actor07" class="form-label text-primary fs-5"></label>
            <input id="MovieActor07Input" asp-for="Movie.Actor07" class="form-control" aria-describedby="MovieActor07InputHelpBlock" />
            <div id="MovieActor07InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor07" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor08Input" asp-for="Movie.Actor08" class="form-label text-primary fs-5"></label>
            <input id="MovieActor08Input" asp-for="Movie.Actor08" class="form-control" aria-describedby="MovieActor08InputHelpBlock" />
            <div id="MovieActor08InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor08" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor09Input" asp-for="Movie.Actor09" class="form-label text-primary fs-5"></label>
            <input id="MovieActor09Input" asp-for="Movie.Actor09" class="form-control" aria-describedby="MovieActor09InputHelpBlock" />
            <div id="MovieActor09InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor09" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieActor10Input" asp-for="Movie.Actor10" class="form-label text-primary fs-5"></label>
            <input id="MovieActor10Input" asp-for="Movie.Actor10" class="form-control" aria-describedby="MovieActor10InputHelpBlock" />
            <div id="MovieActor10InputHelpBlock" class="form-text">
                актер (актриса)
            </div>
            <span asp-validation-for="Movie.Actor10" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieCaptionForOnlineInput" asp-for="Movie.CaptionForOnline" class="form-label text-primary fs-5"></label>
            <input id="MovieCaptionForOnlineInput" asp-for="Movie.CaptionForOnline" class="form-control" aria-describedby="MovieCaptionForOnlineInputHelpBlock" />
            <div id="MovieCaptionForOnlineInputHelpBlock" class="form-text">
                заголовок страницы воспроизведения
            </div>
            <span asp-validation-for="Movie.CaptionForOnline" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieYouTubeInput" asp-for="Movie.YouTube" class="form-label text-primary fs-5"></label>
            <input id="MovieYouTubeInput" asp-for="Movie.YouTube" class="form-control" aria-describedby="MovieYouTubeInputHelpBlock" />
            <div id="MovieYouTubeInputHelpBlock" class="form-text">
                видео на youtube.com
            </div>
            <span asp-validation-for="Movie.YouTube" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieVkVideoInput" asp-for="Movie.VkVideo" class="form-label text-primary fs-5"></label>
            <input id="MovieVkVideoInput" asp-for="Movie.VkVideo" class="form-control" aria-describedby="MovieVkVideoInputHelpBlock" />
            <div id="MovieVkVideoInputHelpBlock" class="form-text">
                видео на vk.com
            </div>
            <span asp-validation-for="Movie.VkVideo" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieMailRuVideoInput" asp-for="Movie.MailRuVideo" class="form-label text-primary fs-5"></label>
            <input id="MovieMailRuVideoInput" asp-for="Movie.MailRuVideo" class="form-control" aria-describedby="MovieMailRuVideoInputHelpBlock" />
            <div id="MovieMailRuVideoInputHelpBlock" class="form-text">
                видео на mail.ru
            </div>
            <span asp-validation-for="Movie.MailRuVideo" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieOkVideoInput" asp-for="Movie.OkVideo" class="form-label text-primary fs-5"></label>
            <input id="MovieOkVideoInput" asp-for="Movie.OkVideo" class="form-control" aria-describedby="MovieOkVideoInputHelpBlock" />
            <div id="MovieOkVideoInputHelpBlock" class="form-text">
                видео на ok.ru
            </div>
            <span asp-validation-for="Movie.OkVideo" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieYandexDiskVideoInput" asp-for="Movie.YandexDiskVideo" class="form-label text-primary fs-5"></label>
            <input id="MovieYandexDiskVideoInput" asp-for="Movie.YandexDiskVideo" class="form-control" aria-describedby="MovieYandexDiskVideoInputHelpBlock" />
            <div id="MovieYandexDiskVideoInputHelpBlock" class="form-text">
                видео на YandexDisk
            </div>
            <span asp-validation-for="Movie.YandexDiskVideo" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieKinoTeatrRuInput" asp-for="Movie.KinoTeatrRu" class="form-label text-primary fs-5"></label>
            <input id="MovieKinoTeatrRuInput" asp-for="Movie.KinoTeatrRu" class="form-control" aria-describedby="MovieKinoTeatrRuInputHelpBlock" />
            <div id="MovieKinoTeatrRuInputHelpBlock" class="form-text">
                информация на kino-teatr.ru
            </div>
            <span asp-validation-for="Movie.KinoTeatrRu" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieSummaryInput" asp-for="Movie.Summary" class="form-label text-primary fs-5"></label>
            <input id="MovieSummaryInput" asp-for="Movie.Summary" class="form-control" aria-describedby="MovieSummaryInputHelpBlock" />
            <div id="MovieSummaryInputHelpBlock" class="form-text">
                краткое содержание для страницы фильма
            </div>
            <span asp-validation-for="Movie.Summary" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieAspPageInput" asp-for="Movie.AspPage" class="form-label text-primary fs-5"></label>
            <input id="MovieAspPageInput" asp-for="Movie.AspPage" class="form-control" aria-describedby="MovieAspPageInputHelpBlock" />
            <div id="MovieAspPageInputHelpBlock" class="form-text">
                адрес страницы на сайте
            </div>
            <span asp-validation-for="Movie.AspPage" class="text-danger"></span>

            <hr class="liniya" />

            <label for="MovieThumbnailInput" asp-for="Movie.Thumbnail" class="form-label text-primary fs-5"></label>
            <input id="MovieThumbnailInput" asp-for="Movie.Thumbnail" class="form-control" aria-describedby="MovieThumbnailInputHelpBlock" />
            <div id="MovieThumbnailInputHelpBlock" class="form-text">
                картинка для фильма
            </div>
            <span asp-validation-for="Movie.Thumbnail" class="text-danger"></span>

            <hr class="liniya" />

            <div class="text-center">

                <button type="submit" class="col btn btn-outline-success shadw">ADD</button>
                <a asp-page="/DBCRUD/ViewMovies" class="col btn btn-outline-danger ms-3 shadw">CANCEL</a>

            </div>

        </form>

    </div>

</div>