@page "{PageNumber=26}/{**data}"
@model DBCRUD.DeleteCardModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Удалить карточку</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <vc:image image-name="@Model.Card.ImageName" css-class="card-img-top shadw" />

            <hr class="liniya" />

            <p>Удалить карточку</p>

        </div>

        <form method="post" asp-page-handler="OnPost" asp-route-cardid="@Model.Card.CardId" class="mt-2">

            <button type="submit" class="btn btn-outline-danger me-2 shadw">Delete</button>
            <a asp-page="ViewCards" class="btn btn-outline-success shadw">Cancel</a>

        </form>

    </div>

</div>