@page 
@model DeleteImageModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Удалить картинку</h1>

        <hr class="liniya" />

        <div class="card p-2">

            <vc:image file-name="@Model.Image.ImageContentUrl.Segments.Last()" css-class="card-img-top width50percent shadw" image-icon="false" />

            <hr class="liniya" />

            <p>Удалить данные о картинке из базы данных<br />файл картинки не удаляется</p>

        </div>

        <form method="post" asp-page-handler="OnPost" asp-route-imageid="@Model.Image.ImageId" class="mt-2">

            <button type="submit" class="btn btn-outline-danger me-2 shadw">Delete</button>
            <a asp-page="Image-Icons" class="btn btn-outline-success shadw">Cancel</a>

        </form>

    </div>

</div>