@page
@model Site.Pages.DBCRUD.Image_Add_UpdateModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        @{
            if ((string)ViewData["Action"] == "Edit")
            {
                <h1 class="fs-3 text_shadow">Изменить данные картинки</h1>

                <vc:image-by-id image-id="@Model.Image.ImageId" css-class="width50percent ten mb-3" image-icon="false" />
            }
            else
            {
                <h1 class="fs-3 text_shadow">Добавить картинку</h1>
            }
        }

        <hr class="liniya" />

        <form asp-page-handler="OnPost" method="post">

            <label for="ImageIdInput" asp-for="Image.ImageId" class="form-label text-primary fs-5 fw-bold"></label>
            <input readonly id="ImageIdInput" asp-for="Image.ImageId" class="form-control text-center" aria-describedby="ImageIdInputHelpBlock" />
            <div id="ImageIdInputHelpBlock" class="form-text">
                <span class="text-danger"></span>
            </div>

            <hr class="liniya" />

            <label for="ImageCaptionInput" asp-for="Image.ImageCaption" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="ImageCaptionInput" asp-for="Image.ImageCaption" class="form-control text-center" aria-describedby="ImageCaptionInputHelpBlock" />
            <div id="ImageCaptionInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageCaption" class="text-danger"></span>

            <hr class="liniya" />

            <label for="ImageDescriptionInput" asp-for="Image.ImageDescription" class="form-label text-primary fs-5 fw-bold"></label>
            <textarea id="ImageDescriptionInput" asp-for="Image.ImageDescription" class="form-control" rows="1" aria-describedby="ImageDescriptionInputHelpBlock"></textarea>
            <div id="ImageDescriptionInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageDescription" class="text-danger"></span>

            <hr class="liniya" />

            <label for="ImageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="ImageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-control text-center" aria-describedby="ImageContentUrlInputHelpBlock" />
            <div id="ImageContentUrlInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageContentUrl" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageWidthInput" asp-for="Image.ImageWidth" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageWidthInput" asp-for="Image.ImageWidth" class="form-control text-start" aria-describedby="ImageWidthInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageWidthInputHelpBlock" class="form-text">
                        ширина картинки в px - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageWidth" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageHeightInput" asp-for="Image.ImageHeight" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageHeightInput" asp-for="Image.ImageHeight" class="form-control text-start" aria-describedby="ImageHeightInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageHeightInputHelpBlock" class="form-text">
                        высота картинки в px - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageHeight" class="text-danger"></span>

            <hr class="liniya" />

            <label for="ImageAltInput" asp-for="Image.ImageAlt" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="ImageAltInput" asp-for="Image.ImageAlt" class="form-control text-center" aria-describedby="ImageAltInputHelpBlock" />
            <div id="ImageAltInputHelpBlock" class="form-text col-12">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageAlt" class="text-danger"></span>

            <hr class="liniya" />

            <h1 class="fs-3 text_shadow mb-3">Иконка</h1>

            @{
                if ((string)ViewData["Action"] == "Edit")
                {
                    <vc:image-by-id image-id="@Model.Image.ImageId" css-class="width50percent ten mb-3" image-icon="true" />
                }
            }

            <hr class="liniya" />

            <label for="ImageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-label text-danger fs-5 fw-bold"></label>
            <input id="ImageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-control text-center" aria-describedby="ImageThumbnailUrlInputHelpBlock" />
            <div id="ImageThumbnailUrlInputHelpBlock" class="form-text">
                адрес иконки (https://...) - <span class="text-primary">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageThumbnailUrl" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageThumbnailWidthInput" asp-for="Image.ImageThumbnailWidth" class="col-form-label text-danger fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageThumbnailWidthInput" asp-for="Image.ImageThumbnailWidth" class="form-control text-start" aria-describedby="ImageThumbnailWidthInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageThumbnailWidthHelpBlock" class="form-text">
                        ширина иконки в px - <span class="text-primary">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageThumbnailWidth" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageThumbnailHeightInput" asp-for="Image.ImageThumbnailHeight" class="col-form-label text-danger fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageThumbnailHeightInput" asp-for="Image.ImageThumbnailHeight" class="form-control text-start" aria-describedby="ImageThumbnailHeightInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageThumbnailHeightHelpBlock" class="form-text">
                        высота иконки в px - <span class="text-primary">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageThumbnailHeight" class="text-danger"></span>


            <hr class="liniya" />

            <div class="text-center">

                @{
                    if ((string)ViewData["Action"] == "Edit")
                    {
                        <button type="submit" class="btn btn-outline-success m-2 text-center shadw">ИЗМЕНИТЬ</button>
                    }
                    else
                    {
                        <button type="submit" class="btn btn-outline-success m-2 text-center shadw">ДОБАВИТЬ</button>
                    }
                }

                <a asp-page="Image-Icons" class="btn btn-outline-danger m-2 shadw">ОТМЕНИТЬ</a>

            </div>

        </form>

    </div>

    <hr class="liniya" />

</div>