@page
@model Site.Pages.DBCRUD.Image_Add_UpdateModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        @{
            if ((string)ViewData["Action"] == "Edit")
            {
                <h1 class="fs-3 text_shadow">Изменить данные картинки</h1>
            }
            else
            {
                <h1 class="fs-3 text_shadow">Добавить картинку</h1>
            }
        }

        <hr class="liniya" />

        <form asp-page-handler="OnPost" method="post">

            <input asp-for="Image.ImageId" type="hidden" />

            <vc:image-by-id image-id="@Model.Image.ImageId" css-class="width50percent ten mb-3" /><br />

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="imageNameInput" asp-for="Image.ImageName" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="imageNameInput" asp-for="Image.ImageName" class="form-control text-start" aria-describedby="imageNameInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="imageNameInputHelpBlock" class="form-text">
                        имя файла картинки без расширения - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageName" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageName2Input" asp-for="Image.ImageName2" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageName2Input" asp-for="Image.ImageName2" class="form-control text-center" aria-describedby="imageName2HelpBlock" />
            <div id="imageName2InputBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageName2" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageCaptionInput" asp-for="Image.ImageCaption" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageCaptionInput" asp-for="Image.ImageCaption" class="form-control text-center" aria-describedby="imageCaptionInputHelpBlock" />
            <div id="imageCaptionInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageCaption" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageDescriptionInput" asp-for="Image.ImageDescription" class="form-label text-primary fs-5 fw-bold"></label>
            <textarea id="imageDescriptionInput" asp-for="Image.ImageDescription" class="form-control" rows="1" aria-describedby="imageDescriptionInputHelpBlock"></textarea>
            <div id="imageDescriptionInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageDescription" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-control text-center" aria-describedby="imageContentUrlInputHelpBlock" />
            <div id="imageContentUrlInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageContentUrl" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-control text-center" aria-describedby="imageThumbnailUrlInputHelpBlock" />
            <div id="imageThumbnailUrlInputHelpBlock" class="form-text">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageThumbnailUrl" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageWidthInput" asp-for="Image.ImageWidth" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageWidthInput" asp-for="Image.ImageWidth" class="form-control text-start" aria-describedby="ImageWidthInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageWidthInputHelpBlock" class="form-text">
                        ширина картинки в px - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageWidth" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageHeightInput" asp-for="Image.ImageHeight" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageHeightInput" asp-for="Image.ImageHeight" class="form-control text-start" aria-describedby="ImageHeightInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageHeightInputHelpBlock" class="form-text">
                        высота картинки в px - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageHeight" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageSrcInput" asp-for="Image.ImageSrc" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageSrcInput" asp-for="Image.ImageSrc" class="form-control text-center" aria-describedby="imageSrcInputHelpBlock" />
            <div id="imageSrcInputHelpBlock" class="form-text">
                путь к картинке (/images/...) - <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageSrc" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageAltInput" asp-for="Image.ImageAlt" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageAltInput" asp-for="Image.ImageAlt" class="form-control text-center" aria-describedby="imageAltInputHelpBlock" />
            <div id="imageAltInputHelpBlock" class="form-text col-12">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageAlt" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageTitleInput" asp-for="Image.ImageTitle" class="form-label text-primary fs-5 fw-bold"></label>
            <input id="imageTitleInput" asp-for="Image.ImageTitle" class="form-control text-center" aria-describedby="imageTitleInputHelpBlock" />
            <div id="imageTitleInputHelpBlock" class="form-text col-12">
                <span class="text-danger">обязательное поле</span>
            </div>
            <span asp-validation-for="Image.ImageTitle" class="text-danger"></span>

            <hr class="liniya" />

            <div class="row g-2 justify-content-center">
                <div class="col-auto">
                    <label for="ImageTypeInput" asp-for="Image.ImageType" class="col-form-label text-primary fs-5 fw-bold"></label>
                </div>
                <div class="col-auto">
                    <input id="ImageTypeInput" asp-for="Image.ImageType" class="form-control text-start" aria-describedby="ImageTypeInputHelpBlock" />
                </div>
                <div class="col-12 justify-content-center">
                    <span id="ImageTypeInputHelpBlock" class="form-text">
                        расширение файла - <span class="text-danger">обязательное поле</span>
                    </span>
                </div>
            </div>
            <span asp-validation-for="Image.ImageType" class="text-danger"></span>

            <hr class="liniya" />

            <div class="text-center">

                <button type="submit" class="btn btn-outline-success m-2 text-center shadw">ИЗМЕНИТЬ</button>
                <a asp-page="Image-Icons" class="btn btn-outline-danger m-2 shadw">ОТМЕНИТЬ</a>

            </div>

        </form>

    </div>

    <hr class="liniya" />

</div>