@page "{pageNumber=11}/{**data}"
@model Site.Pages.DBCRUD.IndexModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">БАЗА ДАННЫХ САЙТА</h1>

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card card-name="kortik" />
    <vc:card card-name="br-ptica" />
    <vc:card card-name="pr-expediciya" />
    <vc:card card-name="kr-zvezda" />

    <hr class="liniya" />

    <vc:card card-name="biografy" />
    <vc:card card-name="photo" />
    <vc:card card-name="pressa" />
    <vc:card card-name="programs" />
    <vc:card card-name="znakomye" />
    <vc:card card-name="raznoe" />
    <vc:card card-name="characters" />
    <vc:card card-name="guestbook" />

    <hr class="liniya" />

    <vc:card card-name="kalinin" />
    <vc:card card-name="rybakov" />

</div>