@page
@model Site.Pages.DBCRUD.IndexModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">БАЗА ДАННЫХ САЙТА</h1>

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:page-card page-number="98" image-icon="false" />
    <vc:page-card page-number="99" image-icon="false" />
    <vc:page-card page-number="100" image-icon="false" />
    <vc:page-card page-number="27" image-icon="false" />

    <hr class="liniya" />

    <vc:page-card page-number="5" image-icon="false" />
    <vc:page-card page-number="96" image-icon="false" />
    <vc:page-card page-number="95" image-icon="false" />
    <vc:page-card page-number="90" image-icon="false" />
    <vc:page-card page-number="101" image-icon="false" />
    <vc:page-card page-number="102" image-icon="false" />
    <vc:page-card page-number="94" image-icon="false" />
    <vc:page-card page-number="97" image-icon="false" />

    <hr class="liniya" />

    <vc:page-card page-number="103" image-icon="false" />
    <vc:page-card page-number="104" image-icon="false" />

</div>