@page
@model Site.Pages.DBCRUD.IndexModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">БАЗА ДАННЫХ САЙТА</h1>

        <hr class="liniya" />

    </div>

</div>

<div class="row row-cols-2 row-cols-lg-3 row-cols-xl-4 g-2 justify-content-center">

    <vc:card file-name="kortik" />
    <vc:card file-name="br-ptica" />
    <vc:card file-name="pr-expediciya" />
    <vc:card file-name="kr-zvezda" />

    <hr class="liniya" />

    <vc:card file-name="biografy-page" />
    <vc:card file-name="foto-page" />
    <vc:card file-name="pressa-page" />
    <vc:card file-name="programs" />
    <vc:card file-name="znakomye" />
    <vc:card file-name="raznoe" />
    <vc:card file-name="films-page" />
    <vc:card file-name="gostevaya-page" />

    <hr class="liniya" />

    <vc:card file-name="kalinin" />
    <vc:card file-name="rybakov" />

</div>