@page
@model LoginModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <div class="col col-sm-6 col-lg-4 col-xl-3 col-xxl-3 d-block mx-auto px-2">

        <h1>Вход на сайт</h1>

        <form method="post" asp-page-handler="OnPost">

            <label for="locInput" asp-for="Admin.Email" class="form-label text-primary fs-5"></label>
            <input id="locInput" asp-for="Admin.Email" class="form-control" />
            <span asp-validation-for="Admin.Email" class="text-danger"></span>

            <hr class="liniya" />

            <label for="lastmodInput" asp-for="Admin.Password" class="form-label text-primary fs-5"></label>
            <input id="lastmodInput" asp-for="Admin.Password" class="form-control" />
            <span asp-validation-for="Admin.Password" class="text-danger"></span>

            <hr class="liniya" />

            <div class="text-center">

                <button type="submit" class="col btn btn-outline-success shadw">SUBMIT</button>
                <a asp-page="/Index" class="col btn btn-outline-danger ms-3 shadw">CANCEL</a>

            </div>

        </form>

    </div>

</div>