@page
@model Site.Pages.DBCRUD.UpdateImageModel
@{
    ViewData["BackgroundLeft"] = "bg-kortik-1";
    ViewData["BackgroundRight"] = "bg-kortik-2";
}
<div class="row">

    <div class="col col-lg-9 col-xl-7 col-xxl-6 d-block mx-auto px-2">

        <hr class="liniya" />

        <h1 class="fs-3 text_shadow">Изменить данные картинки</h1>

        <hr class="liniya" />

        <vc:image image-name="@Model.Image.ImageName" css-class="adp_img ten" />

        <hr class="liniya" />

        <form method="post" asp-page-handler="OnPost">

            <input asp-for="Image.ImageId" type="hidden" />

            <label for="imageNameInput" asp-for="Image.ImageName" class="form-label text-primary fs-5">ImageName</label>
            <input id="imageNameInput" asp-for="Image.ImageName" class="form-control" type="text" aria-describedby="imageNameHelpBlock" />
            <div id="imageNameHelpBlock" class="form-text">
                Параметр «image-name» для ViewComponent
            </div>
            <span asp-validation-for="Image.ImageName" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageName2Input" asp-for="Image.ImageName2" class="form-label text-primary fs-5">ImageName2</label>
            <input id="imageName2Input" asp-for="Image.ImageName2" class="form-control" type="text" aria-describedby="imageName2HelpBlock" />
            <div id="imageName2HelpBlock" class="form-text">
                Параметр «Name» для Microdata
            </div>
            <span asp-validation-for="Image.ImageName2" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageCaptionInput" asp-for="Image.ImageCaption" class="form-label text-primary fs-5">ImageCaption</label>
            <input id="imageCaptionInput" asp-for="Image.ImageCaption" class="form-control" type="text" aria-describedby="imageCaptionInputHelpBlock" />
            <div id="imageCaptionInputHelpBlock" class="form-text">
                Параметр «Caption» для Microdata
            </div>
            <span asp-validation-for="Image.ImageCaption" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageDescriptionInput" asp-for="Image.ImageDescription" class="form-label text-primary fs-5">ImageDescription</label>
            <input id="imageDescriptionInput" asp-for="Image.ImageDescription" class="form-control" type="text" aria-describedby="imageDescriptionInputHelpBlock" />
            <div id="imageDescriptionInputHelpBlock" class="form-text">
                Параметр «Description» для Microdata
            </div>
            <span asp-validation-for="Image.ImageDescription" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-label text-primary fs-5">ImageContentUrl</label>
            <input id="imageContentUrlInput" asp-for="Image.ImageContentUrl" class="form-control" type="text" aria-describedby="imageContentUrlInputHelpBlock" />
            <div id="imageContentUrlInputHelpBlock" class="form-text">
                Параметр «ContentUrl» для Microdata
            </div>
            <span asp-validation-for="Image.ImageContentUrl" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-label text-primary fs-5">ImageThumbnailUrl</label>
            <input id="imageThumbnailUrlInput" asp-for="Image.ImageThumbnailUrl" class="form-control" type="text" aria-describedby="imageThumbnailUrlInputHelpBlock" />
            <div id="imageThumbnailUrlInputHelpBlock" class="form-text">
                Параметр «ThumbnailUrl» для Microdata
            </div>
            <span asp-validation-for="Image.ImageThumbnailUrl" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageWidthInput" asp-for="Image.ImageWidth" class="form-label text-primary fs-5">ImageWidth</label>
            <input id="imageWidthInput" asp-for="Image.ImageWidth" class="form-control" type="text" aria-describedby="imageWidthInputHelpBlock" />
            <div id="imageWidthInputHelpBlock" class="form-text">
                Ширина картинки в px
            </div>
            <span asp-validation-for="Image.ImageWidth" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageHeightInput" asp-for="Image.ImageHeight" class="form-label text-primary fs-5">ImageHeight</label>
            <input id="imageHeightInput" asp-for="Image.ImageHeight" class="form-control" type="text" aria-describedby="imageHeightInputHelpBlock" />
            <div id="imageHeightInputHelpBlock" class="form-text">
                Высота картинки в px
            </div>
            <span asp-validation-for="Image.ImageHeight" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageSrcInput" asp-for="Image.ImageSrc" class="form-label text-primary fs-5">ImageSrc</label>
            <input id="imageSrcInput" asp-for="Image.ImageSrc" class="form-control" type="text" aria-describedby="imageSrcInputHelpBlock" />
            <div id="imageSrcInputHelpBlock" class="form-text">
                Путь к картинке на сайте
            </div>
            <span asp-validation-for="Image.ImageSrc" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageAltInput" asp-for="Image.ImageAlt" class="form-label text-primary fs-5">ImageAlt</label>
            <input id="imageAltInput" asp-for="Image.ImageAlt" class="form-control" type="text" aria-describedby="imageAltInputHelpBlock" />
            <div id="imageAltInputHelpBlock" class="form-text">
                Параметр «alt» для тега «img»
            </div>
            <span asp-validation-for="Image.ImageAlt" class="text-danger"></span>

            <hr class="liniya" />

            <label for="imageTitleInput" asp-for="Image.ImageTitle" class="form-label text-primary fs-5">ImageTitle</label>
            <input id="imageTitleInput" asp-for="Image.ImageTitle" class="form-control" type="text" aria-describedby="imageTitleInputHelpBlock" />
            <div id="imageTitleInputHelpBlock" class="form-text">
                Параметр «title» для тега «img»
            </div>
            <span asp-validation-for="Image.ImageTitle" class="text-danger"></span>

            <hr class="liniya" />

            <div class="text-center">

                <button type="submit" class="btn btn-success shadow text-center">UPDATE</button>
                <a asp-page="ViewImages" class="btn btn-danger shadow ms-3">CANCEL</a>

            </div>

        </form>

    </div>

    <hr class="liniya" />

</div>