@page "{pageNumber=6}/{**data}"
@model DBCRUD.ViewImagesModel

@{
    Layout = "_CrudLayout";
}

<div class="row">

    <hr class="liniya" />

    <div class="col">
        <a asp-page="AddImage" class="btn btn btn-outline-danger shadw">ADD NEW IMAGE</a>
    </div>

    <hr class="liniya" />

</div>

@if (Model.AllImages.Count() == 0)
{
    <div class="row">

        <div class="col text-center p-2">
            <p class="fs-4 text-danger">Нет данных</p>
        </div>

    </div>
}
else
{
    <div class="row">

        <div class="col text-center p-2">
            <p class="fs-4 text-danger">Количество изображений:&nbsp;@Model.AllImages.Count()</p>
        </div>

    </div>
}

<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-2 justify-content-center">

    @foreach (var image in Model.AllImages)
    {
        <div class="col">

            <div class="card h-100 me-1 mb-1 p-1 shadw">

                <vc:image image-name="@image.ImageName" css-class="card-img-top shadw" />

                <div class="card-body py-0"></div>

                <div class="card-footer px-0">
                    <a asp-page="DetailsImage" asp-route-imageid="@image.ImageId" class="btn btn-outline-primary mt-1 me-1 py-1 px-2 shadw">View</a>
                    <a asp-page="UpdateImage" asp-route-imageid="@image.ImageId" class="btn btn-outline-success mt-1 me-1 py-1 px-2 shadw">Edit</a>
                    <a asp-page="DeleteImage" asp-route-imageid="@image.ImageId" class="btn btn-outline-danger mt-1 py-1 px-2 shadw">Delete</a>
                </div>

            </div>

        </div>
    }

    <hr class="liniya" />

</div>